apiVersion: extensions.hive.openshift.io/v1beta1
kind: AgentClusterInstall
metadata:
  name: '{{ agent_cluster_install_name }}'
  namespace: '{{ spoke_namespace }}'
spec:
  clusterDeploymentRef:
    name: '{{ cluster_deployment_name }}'
  imageSetRef:
    name: '{{ cluster_image_set_name }}'
{% if spoke_api_vip %}
  apiVIP: '{{ spoke_api_vip }}'
{% endif %}
{% if spoke_ingress_vip %}
  ingressVIP: '{{ spoke_ingress_vip }}'
{% endif %}
  networking:
    clusterNetwork:
    - cidr: {{ cluster_subnet }}
      hostPrefix: {{ cluster_host_prefix }}
{% if cluster_subnet_additional|length and cluster_host_prefix_additional|length %}
    - cidr: {{ cluster_subnet_additional }}
      hostPrefix: {{ cluster_host_prefix_additional }}
{% endif %}
{% if (spoke_controlplane_agents|int == 1 and external_subnet_additional|length == 0) or external_subnet_additional|length %}
    machineNetwork:
    - cidr: {{ external_subnet }}
{% if external_subnet_additional|length %}
    - cidr: {{ external_subnet_additional }}
{% endif %}
{% endif %}
    serviceNetwork:
    - {{ service_subnet }}
{% if service_subnet_additional|length %}
    - {{ service_subnet_additional }}
{% endif %}
{% if user_managed_networking %}
    userManagedNetworking: {{ user_managed_networking }}
{% endif %}
  provisionRequirements:
    controlPlaneAgents: {{ spoke_controlplane_agents }}
{% if spoke_worker_agents is defined and spoke_worker_agents|int > 0 %}
    workerAgents: {{ spoke_worker_agents }}
{% endif %}
  sshPublicKey: '{{ ssh_public_key }}'
{% if manifests is defined and manifests %}
  manifestsConfigMapRefs:
    - name: '{{ agent_cluster_install_name }}'
{% endif %}

{% if manifests is defined and manifests %}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: '{{ agent_cluster_install_name }}'
  namespace: '{{ spoke_namespace }}'
data:
{% for key, value in manifests.items() %}
  {{ key }}: |
{{ value }}
{% endfor %}
{% endif %}
