apiVersion: extensions.hive.openshift.io/v1beta1
kind: AgentClusterInstall
metadata:
  name: '{{ agent_cluster_install_name }}'
  namespace: '{{ spoke_namespace }}'
spec:
  clusterDeploymentRef:
    name: '{{ cluster_deployment_name }}'
  imageSetRef:
    name: '{{ cluster_image_set_name }}'
  apiVIP: ""
  ingressVIP: ""
  networking:
    clusterNetwork:
    - cidr: {{ cluster_subnet }}
      hostPrefix: {{ cluster_host_prefix }}
    machineNetwork:
    - cidr: {{ external_subnet }}
    serviceNetwork:
    - {{ service_subnet }}
  provisionRequirements:
    controlPlaneAgents: 1
  sshPublicKey: '{{ ssh_public_key }}'
