apiVersion: extensions.hive.openshift.io/v1beta1
kind: AgentClusterInstall
metadata:
  name: '{{ agent_cluster_install_name }}'
  namespace: '{{ assisted_namespace }}'
spec:
  clusterDeploymentRef:
    name: '{{ cluster_deployment_name }}'
  imageSetRef:
    name: '{{ cluster_image_set_name }}'
  apiVIP: ""
  ingressVIP: ""
  networking:
    clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
    machineNetwork:
    - cidr: 192.168.111.0/24
    serviceNetwork:
    - 172.30.0.0/16
  provisionRequirements:
    controlPlaneAgents: 1
  sshPublicKey: '{{ ssh_public_key }}'
