---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ bmh_name }}-bmc-secret'
  namespace: '{{ assisted_namespace }}'
type: Opaque
data:
  username: '{{ encoded_username }}'
  password: '{{ encoded_password }}'

---
apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: '{{ bmh_name }}'
  namespace: '{{ assisted_namespace }}'
  labels:
    infraenvs.agent-install.openshift.io: '{{ infraenv_name }}'
spec:
  online: true
  bootMACAddress: '{{ mac_address }}'
  bmc:
    address: '{{ address }}'
    credentialsName: '{{ bmh_name }}-bmc-secret'
