apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: '{{ infraenv_name }}'
  namespace: '{{ spoke_namespace }}'
spec:
  clusterRef:
    name: '{{ cluster_deployment_name }}'
    namespace: '{{ spoke_namespace }}'
  pullSecretRef:
    name: '{{ pull_secret_name }}'
  sshAuthorizedKey: '{{ ssh_public_key }}'
