# infraEnv-latebinding.j2 and this file should generally be kept in sync
# infraEnv-latebinding.j2 to present an infraenv that is used in a late binding scenario.
apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: '{{ infraenv_name }}'
  namespace: '{{ spoke_namespace }}'
spec:
  clusterRef:
    name: '{{ cluster_deployment_name }}'
    namespace: '{{ spoke_namespace }}'
  pullSecretRef:
    name: '{{ pull_secret_name }}'
  sshAuthorizedKey: '{{ ssh_public_key }}'
  {% if infraenv_label|string | length > 0 %}
  agentLabels:
    infraenv: '{{ infraenv_label }}'
  {% endif %}
