apiVersion: apps/v1
kind: Deployment
metadata:
  name: wiremock
  namespace: REPLACE_NAMESPACE
spec:
  selector:
    matchLabels:
      app: wiremock
  replicas: 1
  template:
    metadata:
      labels:
        app: wiremock
    spec:
      containers:
        - name: wiremock
          image: quay.io/ocpmetal/wiremock
          args: ["--verbose"]
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 8080
---
  apiVersion: v1
  kind: Service
  metadata:
    name: wiremock
    namespace: REPLACE_NAMESPACE
    labels:
      app: wiremock
  spec:
    type: LoadBalancer
    ports:
      - port: 8080
    selector:
      app: wiremock
  status:
    loadBalancer: {}
