
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: assisted-service-manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - get
  - list
  - update
  - watch
- apiGroups:
  - adi.io.my.domain
  resources:
  - agents
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - adi.io.my.domain
  resources:
  - agents/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - adi.io.my.domain
  resources:
  - installenvs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - adi.io.my.domain
  resources:
  - installenvs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - hive.openshift.io
  resources:
  - clusterdeployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - hive.openshift.io
  resources:
  - clusterdeployments/finalizers
  verbs:
  - update
- apiGroups:
  - hive.openshift.io
  resources:
  - clusterdeployments/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - metal3.io
  resources:
  - baremetalhosts
  verbs:
  - get
  - list
  - patch
  - update
  - watch
