version: 2
updates:
  - package-ecosystem: gomod
    directories: [ "/", "/api", "/client", "/models" ]
    schedule:
      interval: "daily"
    groups:
      go-security-dependencies:
        applies-to: security-updates
        patterns:
          - "*"
      k8s:
        patterns:
          - "k8s.io/*"
          - "sigs.k8s.io/*"
      openshift:
        patterns:
          - "github.com/openshift/*"
      go-dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "k8s.io/*"
          - "sigs.k8s.io/*"
          - "github.com/openshift/*"
    labels:
      - "approved"
      - "lgtm"
      - "go"
      - "dependabot"
    commit-message:
      prefix: "NO-ISSUE"