swagger: '2.0'
info:
  description: 'Assisted installation'
  version: 1.0.0
  title: AssistedInstall
host: api.openshift.com
basePath: /api/assisted-install/v1
tags:
  - name: Assisted installation
    description: Assisted bare metal installation

schemes:
  - http
consumes:
  - application/json
produces:
  - application/json


paths:
  /clusters:
    post:
      tags:
        - installer
      summary: Creates a new OpenShift bare metal cluster definition.
      operationId: RegisterCluster
      parameters:
        - in: body
          name: new-cluster-params
          required: true
          schema:
            $ref: '#/definitions/cluster-create-params'
      responses:
        201:
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        400:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

    get:
      tags:
        - installer
      summary: Retrieves the list of OpenShift bare metal clusters.
      operationId: ListClusters
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/cluster-list'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}:
    get:
      tags:
        - installer
      summary: Retrieves the details of the OpenShift bare metal cluster.
      operationId: GetCluster
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

    patch:
      tags:
        - installer
      summary: Updates an OpenShift bare metal cluster definition.
      operationId: UpdateCluster
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
        - in: body
          name: cluster-update-params
          required: true
          schema:
            $ref: '#/definitions/cluster-update-params'
      responses:
        201:
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        400:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        409:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

    delete:
      tags:
        - installer
      summary: Deletes an OpenShift bare metal cluster definition.
      operationId: DeregisterCluster
      parameters:
        - in: path
          name: cluster_id
          format: uuid
          type: string
          required: true
      responses:
        204:
          description: Success.
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        409:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/downloads/image:
    post:
      tags:
        - installer
      summary: Creates a new OpenShift per-cluster discovery ISO.
      operationId: GenerateClusterISO
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
        - in: body
          name: image-create-params
          required: true
          schema:
            $ref: '#/definitions/image-create-params'
      responses:
        201:
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        400:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        409:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

    get:
      tags:
        - installer
      summary: Downloads the OpenShift per-cluster discovery ISO.
      operationId: DownloadClusterISO
      produces:
        # application/vnd.efi.iso is not supported
        - application/octet-stream
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: Success.
          schema:
            type: string
            format: binary
        400:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/downloads/files:
    get:
      tags:
        - installer
      summary: Downloads files relating to the installed/installing cluster.
      operationId: DownloadClusterFiles
      produces:
        - application/octet-stream
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
        - in: query
          name: file_name
          type: string
          enum: [bootstrap.ign, master.ign, metadata.json, worker.ign, kubeadmin-password, kubeconfig, kubeconfig-noingress]
          required: true
      responses:
        200:
          description: Success.
          schema:
            type: file
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        409:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'
  /clusters/{cluster_id}/credentials:
    get:
      tags:
        - installer
      summary: Get the the cluster admin credentials.
      operationId: GetCredentials
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/credentials'
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        409:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/downloads/kubeconfig:
    get:
      tags:
        - installer
      summary: Downloads the kubeconfig file for this cluster.
      operationId: DownloadClusterKubeconfig
      produces:
        - application/octet-stream
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: Success.
          schema:
            type: string
            format: binary
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        409:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/uploads/ingress-cert:
    post:
      tags:
        - installer
      summary: Transfer the ingress certificate for the cluster.
      operationId: UploadClusterIngressCert
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
        - in: body
          name: ingress-cert-params
          required: true
          schema:
            $ref: '#/definitions/ingress-cert-params'
      responses:
        201:
          description: Success.
        400:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/actions/install:
    post:
      tags:
        - installer
      summary: Installs the OpenShift bare metal cluster.
      operationId: InstallCluster
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
      responses:
        202:
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        400:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        409:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/actions/cancel:
    post:
      tags:
        - installer
      summary: Cancels an ongoing installation.
      operationId: CancelInstallation
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
      responses:
        202:
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        409:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/actions/reset:
    post:
      tags:
        - installer
      summary: Resets a failed installation.
      operationId: ResetCluster
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
      responses:
        202:
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        409:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/actions/complete_installation:
    post:
      tags:
        - installer
      summary: Agent API to mark a finalizing installation as complete.
      operationId: CompleteInstallation
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
        - in: body
          name: completion-params
          required: true
          schema:
            $ref: '#/definitions/completion-params'
      responses:
        202:
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        409:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/hosts:
    post:
      tags:
        - installer
      summary: Registers a new OpenShift bare metal host.
      operationId: RegisterHost
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
        - in: body
          name: new-host-params
          required: true
          schema:
            $ref: '#/definitions/host-create-params'
      responses:
        201:
          description: Success.
          schema:
            $ref: '#/definitions/host'
        400:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        403:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

    get:
      tags:
        - installer
      summary: Retrieves the list of OpenShift bare metal hosts.
      operationId: ListHosts
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/host-list'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/hosts/{host_id}:
    get:
      tags:
        - installer
      summary: Retrieves the details of the OpenShift bare metal host.
      operationId: GetHost
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/host'
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

    delete:
      tags:
        - installer
      summary: Deregisters an OpenShift bare metal host.
      operationId: DeregisterHost
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: Success.
        400:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/hosts/{host_id}/progress:
    put:
      tags:
        - installer
      summary: Update installation progress
      operationId: UpdateHostInstallProgress
      parameters:
        - in: path
          name: cluster_id
          description: The ID of the cluster to retrieve
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The ID of the host to retrieve
          type: string
          format: uuid
          required: true
        - in: body
          name: host-progress
          description: New progress value
          required: true
          schema:
            $ref: '#/definitions/host-progress'
      responses:
        200:
          description: Update install progress

  /clusters/{cluster_id}/hosts/{host_id}/actions/debug:
    post:
      tags:
        - installer
      summary: Sets a single shot debug step that will be sent next time the host agent will ask for a command.
      operationId: SetDebugStep
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          type: string
          format: uuid
          required: true
        - in: body
          name: step
          required: true
          schema:
            $ref: '#/definitions/debug-step'
      responses:
        204:
          description: Success.
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/hosts/{host_id}/actions/enable:
    post:
      tags:
        - installer
      summary: Enables a host for inclusion in the cluster.
      operationId: EnableHost
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/host'
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        409:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

    delete:
      tags:
        - installer
      summary: Disables a host for inclusion in the cluster.
      operationId: DisableHost
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/host'
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        409:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/hosts/{host_id}/instructions:
    get:
      tags:
        - installer
      summary: Retrieves the next operations that the host agent needs to perform.
      operationId: GetNextSteps
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/steps'
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

    post:
      tags:
        - installer
      summary: Posts the result of the operations from the host agent.
      operationId: PostStepReply
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          type: string
          format: uuid
          required: true
        - name: reply
          in: body
          schema:
            $ref: '#/definitions/step-reply'
      responses:
        204:
          description: Success.
        400:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

  # The following API call should be admin only
  /clusters/{cluster_id}/free_addresses:
    get:
      tags:
        - installer
      summary: Retrieves the free address list for a network.
      operationId: GetFreeAddresses
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
        - in: query
          name: network
          type: string
          pattern: '^([0-9]{1,3}\.){3}[0-9]{1,3}\/[0-9]|[1-2][0-9]|3[0-2]?$'
          required: true
        - in: query
          name: limit
          type: integer
          minimum: 1
          maximum: 8000
          default: 8000
          required: false
        - in: query
          name: prefix
          type: string
          required: false
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/free-addresses-list'
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/hosts/{host_id}/actions/install:
    post:
      tags:
        - installer
      summary: Perform the install command on the host.
      operationId: InstallHost
      parameters:
        - in: path
          name: cluster_id
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          type: string
          format: uuid
          required: true
        - in: body
          name: InstallHostParams
          required: true
          schema:
            $ref: '#/definitions/install-host-params'
      responses:
        200:
          description: Success.
        404:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        400:
          description: Error.
          schema:
            $ref: '#/definitions/error'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /domains:
    get:
      tags:
        - managed_domains
      summary: List of managed DNS domains
      operationId: ListManagedDomains
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/list-managed-domains'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /component_versions:
    get:
      tags:
        - versions
      summary: List of componenets versions
      operationId: ListComponentVersions
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/list-versions'

  /events/{entity_id}:
    get:
      tags:
        - events
      summary: Lists events for an entity_id
      operationId: ListEvents
      parameters:
        - in: path
          name: entity_id
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: Success.
          schema:
            $ref: '#/definitions/event-list'
        500:
          description: Error.
          schema:
            $ref: '#/definitions/error'


definitions:
  list-managed-domains:
    type: array
    items:
      $ref: '#/definitions/managed-domain'

  managed-domain:
    type: object
    properties:
      domain:
        type: string
      provider:
        type: string
        enum: ['route53']

  list-versions:
    type: object
    properties:
      versions:
        $ref: '#/definitions/versions'
      release_tag:
        type: string

  versions:
    type: object
    additionalProperties:
      type: string

  event-list:
    type: array
    items:
      $ref: '#/definitions/event'

  event:
    type: object
    required:
      - entity_id
      - message
      - event_time
    properties:
      entity_id:
        type: string
        format: uuid
        description: Unique identifier of the object this event relates to.
        x-go-custom-tag: gorm:"index"
      message:
        type: string
        x-go-custom-tag: gorm:"type:varchar(4096)"
      event_time:
        type: string
        format: date-time
        x-go-custom-tag: gorm:"type:datetime"
      request_id:
        type: string
        format: uuid
        description: Unique identifier for the request that caused this event to occure

  image-create-params:
    type: object
    properties:
      proxy_url:
        type: string
        description: |
          The URL of the HTTP/S proxy that agents should use to access the discovery service
          http://\<user\>:\<password\>@\<server\>:\<port\>/
      ssh_public_key:
        type: string
        description: SSH public key for debugging the installation.

  host-create-params:
    type: object
    required:
      - host_id
    properties:
      host_id:
        type: string
        format: uuid
      discovery_agent_version:
        type: string

  host:
    type: object
    required:
      - kind
      - id
      - href
      - status
      - status_info
    properties:
      kind:
        type: string
        enum: ['Host']
        description: Indicates the type of this object. Will be 'Host' if this is a complete object or 'HostLink' if it is just a link.
      id:
        type: string
        format: uuid
        description: Unique identifier of the object.
        x-go-custom-tag: gorm:"primary_key"
      href:
        type: string
        description: Self link.
      cluster_id:
        type: string
        format: uuid
        x-go-custom-tag: gorm:"primary_key;foreignkey:Cluster"
        description: The cluster that this host is associated with.
      status:
        type: string
        enum:
          - discovering
          - known
          - disconnected
          - insufficient
          - disabled
          - installing
          - installing-in-progress
          - installing-pending-user-action
          - resetting-pending-user-action
          - installed
          - error
          - resetting
      status_info:
        type: string
        x-go-custom-tag: gorm:"type:varchar(2048)"
      status_updated_at:
        type: string
        format: date-time
        x-go-custom-tag: gorm:"type:datetime"
        description: The last time that the host status has been updated
      progress:
        $ref: '#/definitions/host-progress'
        x-go-custom-tag: gorm:"embedded;embedded_prefix:progress_"
      progress_stages:
        type: array
        items:
          $ref: '#/definitions/host-stage'
        x-go-custom-tag: gorm:"-"
      connectivity:
        x-go-custom-tag: gorm:"type:text"
        type: string
      hardware_info:
        x-go-custom-tag: gorm:"type:text"
        type: string
      inventory:
        x-go-custom-tag: gorm:"type:text"
        type: string
      free_addresses:
        x-go-custom-tag: gorm:"type:text"
        type: string
      role:
        $ref: '#/definitions/host-role'
      bootstrap:
        type: boolean
      installer_version:
        type: string
        description: Installer version
      updated_at:
        type: string
        format: date-time
        x-go-custom-tag: gorm:"type:datetime"
      created_at:
        type: string
        format: date-time
        x-go-custom-tag: gorm:"type:datetime"
      checked_in_at:
        type: string
        format: date-time
        x-go-custom-tag: gorm:"type:datetime"
        description: The last time the host's agent communicated with the service.
      discovery_agent_version:
        type: string
      requested_hostname:
        type: string

  steps:
    type: object
    properties:
      next_instruction_seconds:
        type: integer
      instructions:
        type: array
        items:
          $ref: '#/definitions/step'


  step-type:
    type: string
    enum:
      - hardware-info
      - connectivity-check
      - execute
      - inventory
      - install
      - free-network-addresses
      - reset-installation

  step:
    type: object
    properties:
      step_type:
        $ref: '#/definitions/step-type'
      step_id:
        type: string
      command:
        type: string
      args:
        type: array
        items:
          type: string

  steps-reply:
    type: array
    items:
      $ref: '#/definitions/step-reply'

  step-reply:
    type: object
    properties:
      step_type:
        $ref: '#/definitions/step-type'
      step_id:
        type: string
      exit_code:
        type: integer
      output:
        type: string
      error:
        type: string

  connectivity-check-nic:
    type: object
    properties:
      name:
        type: string
      mac:
        type: string
      ip_addresses:
        type: array
        items:
          type: string

  connectivity-check-host:
    type: object
    properties:
      host_id:
        type: string
        format: uuid
      nics:
        type: array
        items:
          $ref: '#/definitions/connectivity-check-nic'

  connectivity-check-params:
    type: array
    items:
      $ref: '#/definitions/connectivity-check-host'

  host-list:
    type: array
    items:
      $ref: '#/definitions/host'

  cluster-create-params:
    type: object
    required:
      - name
      - openshift_version
    properties:
      name:
        type: string
        description: Name of the OpenShift cluster.
      openshift_version:
        type: string
        enum: ['4.5']
        description: Version of the OpenShift cluster.
      base_dns_domain:
        type: string
        description: Base domain of the cluster. All DNS records must be sub-domains of this base and include the cluster name.
      cluster_network_cidr:
        type: string
        description: IP address block from which Pod IPs are allocated This block must not overlap with existing physical networks. These IP addresses are used for the Pod network, and if you need to access the Pods from an external network, configure load balancers and routers to manage the traffic.
        pattern: '^([0-9]{1,3}\.){3}[0-9]{1,3}\/[0-9]|[1-2][0-9]|3[0-2]?$'
        default: "10.128.0.0/14"
      cluster_network_host_prefix:
        type: integer
        description: The subnet prefix length to assign to each individual node. For example, if clusterNetworkHostPrefix is set to 23, then each node is assigned a /23 subnet out of the given cidr (clusterNetworkCIDR), which allows for 510 (2^(32 - 23) - 2) pod IPs addresses. If you are required to provide access to nodes from an external network, configure load balancers and routers to manage the traffic.
        minimum: 1
        maximum: 32
        default: 23
      service_network_cidr:
        type: string
        description: The IP address pool to use for service IP addresses. You can enter only one IP address pool. If you need to access the services from an external network, configure load balancers and routers to manage the traffic.
        pattern: '^([0-9]{1,3}\.){3}[0-9]{1,3}\/[0-9]|[1-2][0-9]|3[0-2]?$'
        default: "172.30.0.0/16"
      ingress_vip:
        type: string
        pattern: '^(([0-9]{1,3}\.){3}[0-9]{1,3})?$'
        description: Virtual IP used for cluster ingress traffic.
      pull_secret:
        type: string
        description: The pull secret that obtained from the Pull Secret page on the Red Hat OpenShift Cluster Manager site.
      ssh_public_key:
        type: string
        description: SSH public key for debugging OpenShift nodes.

  cluster-update-params:
    type: object
    properties:
      name:
        type: string
        description: OpenShift cluster name
        x-nullable: true
      base_dns_domain:
        type: string
        description: Base domain of the cluster. All DNS records must be sub-domains of this base and include the cluster name.
        x-nullable: true
      cluster_network_cidr:
        type: string
        description: IP address block from which Pod IPs are allocated This block must not overlap with existing physical networks. These IP addresses are used for the Pod network, and if you need to access the Pods from an external network, configure load balancers and routers to manage the traffic.
        pattern: '^([0-9]{1,3}\.){3}[0-9]{1,3}\/[0-9]|[1-2][0-9]|3[0-2]?$'
        x-nullable: true
      cluster_network_host_prefix:
        type: integer
        description: The subnet prefix length to assign to each individual node. For example, if clusterNetworkHostPrefix is set to 23, then each node is assigned a /23 subnet out of the given cidr (clusterNetworkCIDR), which allows for 510 (2^(32 - 23) - 2) pod IPs addresses. If you are required to provide access to nodes from an external network, configure load balancers and routers to manage the traffic.
        minimum: 1
        maximum: 32
        x-nullable: true
      service_network_cidr:
        type: string
        description: The IP address pool to use for service IP addresses. You can enter only one IP address pool. If you need to access the services from an external network, configure load balancers and routers to manage the traffic.
        pattern: '^([0-9]{1,3}\.){3}[0-9]{1,3}\/[0-9]|[1-2][0-9]|3[0-2]?$'
        x-nullable: true
      api_vip:
        type: string
        pattern: '^(([0-9]{1,3}\.){3}[0-9]{1,3})?$'
        description: Virtual IP used to reach the OpenShift cluster API.
        x-nullable: true
      ingress_vip:
        type: string
        pattern: '^(([0-9]{1,3}\.){3}[0-9]{1,3})?$'
        description: Virtual IP used for cluster ingress traffic.
        x-nullable: true
      pull_secret:
        type: string
        description: The pull secret that obtained from the Pull Secret page on the Red Hat OpenShift Cluster Manager site.
        x-nullable: true
      ssh_public_key:
        type: string
        description: SSH public key for debugging OpenShift nodes.
        x-nullable: true
      hosts_roles:
        type: array
        x-go-custom-tag: gorm:"type:varchar(64)[]"
        description: The desired role for hosts associated with the cluster.
        x-nullable: true
        items:
          type: object
          properties:
            id:
              type: string
              format: uuid
            role:
              $ref: '#/definitions/host-role-update-params'
      hosts_names:
        type: array
        x-go-custom-tag: gorm:"type:varchar(64)[]"
        description: The desired hostname for hosts associated with the cluster.
        x-nullable: true
        items:
          type: object
          properties:
            id:
              type: string
              format: uuid
            hostname:
              type: string

  cluster:
    type: object
    required:
      - kind
      - id
      - href
      - image_info
      - status
      - status_info
    properties:
      kind:
        type: string
        enum: ['Cluster']
        description: Indicates the type of this object. Will be 'Cluster' if this is a complete object or 'ClusterLink' if it is just a link.
      id:
        type: string
        format: uuid
        description: Unique identifier of the object.
        x-go-custom-tag: gorm:"primary_key"
      href:
        type: string
        description: Self link.
      name:
        type: string
        description: Name of the OpenShift cluster.
      openshift_version:
        type: string
        enum: ['4.5']
        description: Version of the OpenShift cluster.
      image_info:
        $ref: '#/definitions/image_info'
        x-go-custom-tag: gorm:"embedded;embedded_prefix:image_"
      base_dns_domain:
        type: string
        description: Base domain of the cluster. All DNS records must be sub-domains of this base and include the cluster name.
      cluster_network_cidr:
        type: string
        description: IP address block from which Pod IPs are allocated This block must not overlap with existing physical networks. These IP addresses are used for the Pod network, and if you need to access the Pods from an external network, configure load balancers and routers to manage the traffic.
        pattern: '^([0-9]{1,3}\.){3}[0-9]{1,3}\/[0-9]|[1-2][0-9]|3[0-2]?$'
      cluster_network_host_prefix:
        type: integer
        description: The subnet prefix length to assign to each individual node. For example, if clusterNetworkHostPrefix is set to 23, then each node is assigned a /23 subnet out of the given cidr (clusterNetworkCIDR), which allows for 510 (2^(32 - 23) - 2) pod IPs addresses. If you are required to provide access to nodes from an external network, configure load balancers and routers to manage the traffic.
        minimum: 1
        maximum: 32
      service_network_cidr:
        type: string
        description: The IP address pool to use for service IP addresses. You can enter only one IP address pool. If you need to access the services from an external network, configure load balancers and routers to manage the traffic.
        pattern: '^([0-9]{1,3}\.){3}[0-9]{1,3}\/[0-9]|[1-2][0-9]|3[0-2]?$'
      api_vip:
        type: string
        pattern: '^(([0-9]{1,3}\.){3}[0-9]{1,3})?$'
        description: Virtual IP used to reach the OpenShift cluster API.
      machine_network_cidr:
        type: string
        description: A CIDR that all hosts belonging to the cluster should have an interfaces with IP address that belongs to this CIDR. The api_vip belongs to this CIDR.
        pattern: '^([0-9]{1,3}\.){3}[0-9]{1,3}\/[0-9]|[1-2][0-9]|3[0-2]?$'
      ingress_vip:
        type: string
        pattern: '^(([0-9]{1,3}\.){3}[0-9]{1,3})?$'
        description: Virtual IP used for cluster ingress traffic.
      ssh_public_key:
        type: string
        x-go-custom-tag: gorm:"type:varchar(1024)"
        description: SSH public key for debugging OpenShift nodes.
      status:
        type: string
        description: Status of the OpenShift cluster.
        enum:
          - insufficient
          - ready
          - error
          - preparing-for-installation
          - installing
          - finalizing
          - installed
      status_info:
        type: string
        x-go-custom-tag: gorm:"type:varchar(2048)"
        description: Additional information pertaining to the status of the OpenShift cluster.
      status_updated_at:
        type: string
        format: date-time
        x-go-custom-tag: gorm:"type:datetime"
        description: The last time that the cluster status has been updated
      hosts:
        x-go-custom-tag: gorm:"foreignkey:ClusterID;association_foreignkey:ID"
        type: array
        description: Hosts that are associated with this cluster.
        items:
          type: object
          $ref: '#/definitions/host'
      updated_at:
        type: string
        format: date-time
        x-go-custom-tag: gorm:"type:datetime"
        description: The last time that this cluster was updated.
      created_at:
        type: string
        format: date-time
        x-go-custom-tag: gorm:"type:datetime"
        description: The time that this cluster was created.
      install_started_at:
        type: string
        format: date-time
        x-go-custom-tag: gorm:"type:datetime;default:0"
        description: The time that this cluster began installation.
      install_completed_at:
        type: string
        format: date-time
        x-go-custom-tag: gorm:"type:datetime;default:0"
        description: The time that this cluster completed installation.
      host_networks:
        type: array
        items:
          $ref: '#/definitions/host_network'
        x-go-custom-tag: gorm:"-"
        description: List of host networks to be filled during query.
      pull_secret_set:
        type: boolean
        description: True if the pull-secret has been added to the cluster
      ignition_generator_version:
        type: string

  image_info:
    type: object
    properties:
      proxy_url:
        type: string
        description: |
          The URL of the HTTP/S proxy that agents should use to access the discovery service
          http://\<user\>:\<password\>@\<server\>:\<port\>/
      ssh_public_key:
        type: string
        x-go-custom-tag: gorm:"type:varchar(1024)"
        description: SSH public key for debugging the installation
      generator_version:
        type: string
        description: Image generator version
      created_at:
        type: string
        format: date-time
        x-go-custom-tag: gorm:"type:datetime"

  free-addresses-list:
    type: array
    items:
      type: string
      format: ipv4

  cluster-list:
    type: array
    items:
      $ref: '#/definitions/cluster'

  host_network:
    type: object
    properties:
      cidr:
        type: string
      host_ids:
        type: array
        items:
          type: string
          format: uuid

  debug-step:
    type: object
    required:
      - command
    properties:
      command:
        type: string

  cpu_details:
    type: object
    properties:
      architecture:
        type: string
      model_name:
        type: string
      cpus:
        type: integer
      threads_per_core:
        type: integer
      sockets:
        type: integer
      cpu_mhz:
        type: number

  block-device:
    type: object
    properties:
      name:
        type: string
      major_device_number:
        type: integer
      minor_device_number:
        type: integer
      removable_device:
        type: integer
      size:
        type: integer
      read_only:
        type: boolean
      device_type:
        type: string
      mountpoint:
        type: string
      fstype:
        type: string

  memory_details:
    type: object
    properties:
      name:
        type: string
      total:
        type: integer
      used:
        type: integer
      free:
        type: integer
      shared:
        type: integer
      buff_cached:
        type: integer
      available:
        type: integer

  cidr:
    type: object
    properties:
      ip_address:
        type: string
      mask:
        type: integer

  nic:
    type: object
    properties:
      name:
        type: string
      state:
        type: string
      mtu:
        type: integer
      mac:
        type: string
      cidrs:
        type: array
        items:
          $ref: '#/definitions/cidr'


  # Return value of hardware info
  introspection:
    type: object
    properties:
      cpu:
        $ref: '#/definitions/cpu_details'
      block_devices:
        type: array
        items:
          $ref: '#/definitions/block-device'
      memory:
        type: array
        items:
          $ref: '#/definitions/memory_details'
      nics:
        type: array
        items:
          $ref: '#/definitions/nic'

  l2-connectivity:
    type: object
    properties:
      outgoing_nic:
        type: string
      outgoing_ip_address:
        type: string
      remote_ip_address:
        type: string
      remote_mac:
        type: string
      successful:
        type: boolean

  l3-connectivity:
    type: object
    properties:
      outgoing_nic:
        type: string
      remote_ip_address:
        type: string
      successful:
        type: boolean

  connectivity-remote-host:
    type: object
    properties:
      host_id:
        type: string
        format: uuid
      l2_connectivity:
        type: array
        items:
          $ref: '#/definitions/l2-connectivity'
      l3_connectivity:
        type: array
        items:
          $ref: '#/definitions/l3-connectivity'

  # Return value of connectivity check
  connectivity-report:
    type: object
    properties:
      remote_hosts:
        type: array
        items:
          $ref: '#/definitions/connectivity-remote-host'

  ingress-cert-params:
    type: string

  completion-params:
    type: object
    required:
      - is_success
    properties:
      is_success:
        type: boolean
      error_info:
        type: string

  host-progress:
    type: object
    required:
      - current_stage
    properties:
      current_stage:
        type: string
        $ref: '#/definitions/host-stage'
      progress_info:
        type: string
        x-go-custom-tag: gorm:"type:varchar(2048)"

  host-stage:
    type: string
    enum:
      - Starting installation
      - Start Waiting for control plane
      - Installing
      - Writing image to disk
      - Rebooting
      - Waiting for ignition
      - Configuring
      - Joined
      - Done
      - Failed

  error:
    type: object
    required:
      - kind
      - id
      - href
      - code
      - reason
    properties:
      kind:
        type: string
        enum: ['Error']
        description: Indicates the type of this object. Will always be 'Error'.
      id:
        type: integer
        format: int32
        description: Numeric identifier of the error.
        minimum: 400
        maximum: 504
      href:
        type: string
        description: Self link.
      code:
        type: string
        description: Globally unique code of the error, composed of the unique identifier of the API and the numeric identifier of the error. For example, for if the numeric identifier of the error is 93 and the identifier of the API is assisted_install then the code will be ASSISTED-INSTALL-93.
      reason:
        type: string
        description: Human readable description of the error.


  interface:
    type: object
    properties:
      ipv6_addresses:
        type: array
        items:
          type: string
      vendor:
        type: string
      name:
        type: string
      has_carrier:
        type: boolean
      product:
        type: string
      mtu:
        type: integer
      ipv4_addresses:
        type: array
        items:
          type: string
      biosdevname:
        type: string
      client_id:
        type: string
      mac_address:
        type: string
      flags:
        type: array
        items:
          type: string
      speed_mbps:
        type: integer

  disk:
    type: object
    properties:
      drive_type:
        type: string
      vendor:
        type: string
      name:
        type: string
      path:
        type: string
      hctl:
        type: string
      by_path:
        type: string
      model:
        type: string
      wwn:
        type: string
      serial:
        type: string
      size_bytes:
        type: integer

  boot:
    type: object
    properties:
      current_boot_mode:
        type: string
      pxe_interface:
        type: string

  system_vendor:
    type: object
    properties:
      serial_number:
        type: string
      product_name:
        type: string
      manufacturer:
        type: string

  memory:
    type: object
    properties:
      physical_bytes:
        type: integer
      usable_bytes:
        type: integer

  cpu:
    type: object
    properties:
      count:
        type: integer
      frequency:
        type: number
      flags:
        type: array
        items:
          type: string
      model_name:
        type: string
      architecture:
        type: string

  inventory:
    type: object
    properties:
      hostname:
        type: string
      bmc_address:
        type: string
      interfaces:
        type: array
        items:
          $ref: '#/definitions/interface'
      disks:
        type: array
        items:
          $ref: '#/definitions/disk'
      boot:
        $ref: '#/definitions/boot'
      system_vendor:
        $ref: '#/definitions/system_vendor'
      bmc_v6address:
        type: string
      memory:
        $ref: '#/definitions/memory'
      cpu:
        $ref: '#/definitions/cpu'

  free_network_addresses:
    type: object
    properties:
      network:
        type: string
        pattern: '^([0-9]{1,3}\.){3}[0-9]{1,3}\/[0-9]|[1-2][0-9]|3[0-2]?$'
      free_addresses:
        type: array
        items:
          type: string
          format: ipv4

  free_networks_addresses:
    type: array
    items:
      $ref: '#/definitions/free_network_addresses'

  free_addresses_request:
    type: array
    items:
      type: string
      pattern: '^([0-9]{1,3}\.){3}[0-9]{1,3}\/[0-9]|[1-2][0-9]|3[0-2]?$'

  credentials:
    type: object
    properties:
      username:
        type: string
      password:
        type: string
      console_url:
        type: string

  host-role-update-params:
    type: string
    enum:
      - 'master'
      - 'worker'

  host-role:
    type: string
    enum:
      - 'master'
      - 'worker'
      - 'bootstrap'

  install-host-params:
    type: object
    properties:
      worker_ignition:
        type: string
        description: base64 encoded worker ignition
    required:
      - worker_ignition
