swagger: '2.0'
info:
  description: 'Bare metal inventory'
  version: 1.0.0
  title: BMInventory
host: api.openshift.com
basePath: /api/bm-inventory/v1
tags:
  - name: Bare metal inventory
    description: Manage bare metal inventory

schemes:
  - http
consumes:
  - application/json
produces:
  - application/json


paths:
  /images:
    post:
      tags:
        - inventory
      summary: Create an OpenShift bare metal cluster-assist installation image
      operationId: CreateImage
      parameters:
        - in: body
          name: new-image-params
          description: New image parameters
          required: true
          schema:
            $ref: '#/definitions/image-create-params'
      responses:
        201:
          description: Created image
          schema:
            $ref: '#/definitions/image'
        400:
          description: Invalid input
        500:
          description: Internal server error
    get:
      tags:
        - inventory
      summary: List installation images
      operationId: ListImages
      responses:
        200:
          description: Image list
          schema:
            $ref: '#/definitions/image-list'
        500:
          description: Internal server error

  /images/{image_id}:
    get:
      tags:
        - inventory
      summary: Retrieve installation image information
      operationId: GetImage
      parameters:
        - in: path
          name: image_id
          description: The ID of the image to retrieve
          type: string
          required: true
      responses:
        200:
          description: Image information
          schema:
            $ref: '#/definitions/image'
        404:
          description: Image not found
        500:
          description: Internal server error

  /nodes:
    post:
      tags:
        - inventory
      summary: Register a new OpenShift bare metal node
      operationId: RegisterNode
      parameters:
        - in: body
          name: new-node-params
          description: New node parameters
          required: true
          schema:
            $ref: '#/definitions/node-create-params'
      responses:
        201:
          description: Registered node
          schema:
            $ref: '#/definitions/node'
        400:
          description: Invalid input
        500:
          description: Internal server error

    get:
      tags:
        - inventory
      summary: List OpenShift bare metal nodes
      operationId: ListNodes
      responses:
        200:
          description: Node list
          schema:
            $ref: '#/definitions/node-list'
        500:
          description: Internal server error

  /nodes/{node_id}:
    get:
      tags:
        - inventory
      summary: Retrieve OpenShift bare metal node information
      operationId: GetNode
      parameters:
        - in: path
          name: node_id
          description: The ID of the node to retrieve
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: Node information
          schema:
            $ref: '#/definitions/node'
        404:
          description: Node not found
        500:
          description: Internal server error

    delete:
      tags:
        - inventory
      summary: Deregister OpenShift bare metal node
      operationId: DeregisterNode
      parameters:
        - in: path
          name: node_id
          description: The ID of the node to retrieve
          type: string
          required: true
      responses:
        204:
          description: Node deregistered
        400:
          description: Node in use
        404:
          description: Node not found
        500:
          description: Internal server error

  /nodes/{node_id}/actions/debug:
    post:
      tags:
        - inventory
      summary: Set a single shot debug step that will be sent next time the agent will ask for a command
      operationId: SetDebugStep
      parameters:
        - in: path
          name: node_id
          description: The ID of the node to debug
          type: string
          format: uuid
          required: true
        - in: body
          name: step
          description: Next debug step
          required: true
          schema:
            $ref: '#/definitions/debug-step'
      responses:
        200:
          description: Registered
        404:
          description: Node not found
        500:
          description: Internal server error

  /nodes/{node_id}/actions/enable:
    post:
      tags:
        - inventory
      summary: Enable a node for use
      operationId: EnableNode
      parameters:
        - in: path
          name: node_id
          description: The ID of the node to enable
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: Enabled
        404:
          description: Node not found
        500:
          description: Internal server error

    delete:
      tags:
        - inventory
      summary: Disable a node for use
      operationId: DisableNode
      parameters:
        - in: path
          name: node_id
          description: The ID of the node to disable
          type: string
          format: uuid
          required: true
      responses:
        204:
          description: Disabled
        404:
          description: Node not found
        500:
          description: Internal server error

  /nodes/{node_id}/next-steps:
    get:
      tags:
        - inventory
      summary: Retrieve the next operations that the agent need to perform
      operationId: GetNextSteps
      parameters:
        - in: path
          name: node_id
          description: ID of node
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: Steps information
          schema:
            $ref: '#/definitions/steps'
        404:
          description: Node not found
        500:
          description: Internal server error

  /nodes/{node_id}/next-steps/reply:
    post:
      tags:
        - inventory
      summary: Post the result of the required operations from the server
      operationId: PostStepReply
      parameters:
        - in: path
          name: node_id
          description: ID of node
          type: string
          format: uuid
          required: true
        - name: reply
          in: body
          schema:
            $ref: '#/definitions/step-reply'
      responses:
        204:
          description: Reply accepted
        400:
          description: Invalid input
        404:
          description: Node not found
        500:
          description: Internal server error

  /clusters:
    post:
      tags:
        - inventory
      summary: Register a new OpenShift bare metal cluster
      operationId: RegisterCluster
      parameters:
        - in: body
          name: new-cluster-params
          description: New cluster parameters
          required: true
          schema:
            $ref: '#/definitions/cluster-create-params'
      responses:
        201:
          description: Registered cluster
          schema:
            $ref: '#/definitions/cluster'
        400:
          description: Invalid input
        500:
          description: Internal server error

    get:
      tags:
        - inventory
      summary: List OpenShift bare metal clusters
      operationId: ListClusters
      responses:
        200:
          description: Cluster list
          schema:
            $ref: '#/definitions/cluster-list'
        500:
          description: Internal server error

  /clusters/{cluster_id}:
    get:
      tags:
        - inventory
      summary: Retrieve OpenShift bare metal cluster information
      operationId: GetCluster
      parameters:
        - in: path
          name: cluster_id
          description: The ID of the cluster to retrieve
          type: string
          required: true
      responses:
        200:
          description: Cluster information
          schema:
            $ref: '#/definitions/cluster'
        404:
          description: Cluster not found
        500:
          description: Internal server error

    delete:
      tags:
        - inventory
      summary: Deregister OpenShift bare metal cluster
      operationId: DeregisterCluster
      parameters:
        - in: path
          name: cluster_id
          description: The ID of the cluster to retrieve
          type: string
          required: true
      responses:
        204:
          description: Cluster deregistered
        404:
          description: Cluster not found
        500:
          description: Internal server error


definitions:
  base:
    type: object
    required:
      - kind
      - id
      - href
    properties:
      kind:
        type: string
        enum: ['image', 'node', 'cluster']
      id:
        type: string
        format: uuid
        x-go-custom-tag: gorm:"primary_key" query:"filter,sort"
      href:
        type: string
        format: uri

  image-create-params:
    type: object
    required:
      - name
      - namespace
    properties:
      name:
        type: string
      description:
        type: string
      namespace:
        type: string
      proxy_ip:
        type: string
        format: hostname
      proxy_port:
        type: integer
        minimum: 0
        maximum: 65535

  image:
    type: object
    allOf:
      - $ref: '#/definitions/base'
      - $ref: '#/definitions/image-create-params'
      - type: object
        required:
          - status
        properties:
          status:
            type: string
            enum: ['creating', 'ready', 'error']
          download_url:
            type: string
            format: uri

  image-list:
    type: array
    items:
      $ref: '#/definitions/image'

  node-create-params:
    type: object
    required:
      - namespace
      - node_id
    properties:
      namespace:
        type: string
      node_id:
        type: string
        format: uuid

  node:
    type: object
    allOf:
      - $ref: '#/definitions/base'
      - $ref: '#/definitions/node-create-params'
      - type: object
        required:
          - kind
          - status
          - status_info
          - connectivity
          - hardware_info
        properties:
          status:
            type: string
            enum:
              - discovering
              - known
              - disconnected
              - insufficient
              - disabled
              - installing
              - installed
          status_info:
            type: string
          cluster_id:
            type: string
            format: uuid
          connectivity:
            $ref: '#/definitions/connectivity-report'
          hardware_info:
            $ref: '#/definitions/introspection'

  steps:
    type: array
    items:
      $ref: '#/definitions/step'

  step-type:
    type: string
    enum:
      - hardaware-info
      - connectivity-check
      - debug

  step:
    type: object
    properties:
      step-type:
        $ref: '#/definitions/step-type'
      data:
        type: string
        format: json

  steps-reply:
    type: array
    items:
      $ref: '#/definitions/step-reply'

  step-reply:
    type: object
    properties:
      step-type:
        $ref: '#/definitions/step-type'
      exit-code:
        type: integer
      output:
        type: string
      error:
        type: string

  connectivity-check-nic:
    type: object
    properties:
      name:
        type: string
      mac:
        type: string
      ip-addresses:
        type: array
        items:
          type: string
        
  connectivity-check-node:
    type: object
    properties:
      node-id:
        type: string
        format: uuid
      nics:
        type: array
        items:
          $ref: '#/definitions/connectivity-check-nic'

  connectivity-check-params:
    type: array
    items:
      $ref: '#/definitions/connectivity-check-node'

  node-list:
    type: array
    items:
      $ref: '#/definitions/node'

  cluster-create-params:
    type: object
    required:
      - name
      - nodes
    properties:
      name:
        type: string
      description:
        type: string
      nodes:
        type: array
        x-go-custom-tag: gorm:"type:varchar(64)[]"
        items:
          type: object
          properties:
            id:
              type: string
              format: uuid
            role:
              type: string
              enum: ['master', 'worker']

  cluster:
    type: object
    allOf:
      - $ref: '#/definitions/base'
      - $ref: '#/definitions/cluster-create-params'
      - type: object
        required:
          - status
          - namespace
        properties:
          namespace:
            type: string
          status:
            type: string
            enum: ['creating', 'ready', 'error']

  cluster-list:
    type: array
    items:
      $ref: '#/definitions/cluster'

  debug-step:
    type: object
    required:
      - command
    properties:
      command:
        type: string

  cpu:
    type: object
    properties:
      architecture:
        type: string
      model-name:
        type: string
      cpus:
        type: integer
      threads-per-core:
        type: integer
      sockets:
        type: integer
      cpu-mhz:
        type: number

  block-device:
    type: object
    properties:
      name:
        type: string
      major-device-number:
        type: integer
      minor-device-number:
        type: integer
      removable-device:
        type: integer
      size:
        type: integer
      read-only:
        type: boolean
      device-type:
        type: string
      mountpoint:
        type: string
      fstype:
        type: string

  memory:
    type: object
    properties:
      name:
        type: string
      total:
        type: integer
      used:
        type: integer
      free:
        type: integer
      shared:
        type: integer
      buff-cached:
        type: integer
      available:
        type: integer

  cidr:
    type: object
    properties:
      ip-address:
        type: string
      mask:
        type: integer

  nic:
    type: object
    properties:
      name:
        type: string
      state:
        type: string
      mtu:
        type: integer
      mac:
        type: string
      cidrs:
        type: array
        items:
          $ref: '#/definitions/cidr'


  # Return value of hardware info
  introspection:
    type: object
    properties:
      cpu:
        $ref: '#/definitions/cpu'
      block-devices:
        type: array
        items:
          $ref: '#/definitions/block-device'
      memory:
        type: array
        items:
          $ref: '#/definitions/memory'
      nics:
        type: array
        items:
          $ref: '#/definitions/nic'

  l2-connectivity:
    type: object
    properties:
      outgoing-nic:
        type: string
      outgoing-ip-address:
        type: string
      remote-ip-address:
        type: string
      remote-mac:
        type: string
      successful:
        type: boolean

  l3-connectivity:
    type: object
    properties:
      outgoing-nic:
        type: string
      remote-ip-address:
        type: string
      successful:
        type: boolean

  connectivity-remote-node:
    type: object
    properties:
      node-id:
        type: string
        format: uuid
      l2-connectivity:
        type: array
        items:
          $ref: '#/definitions/l2-connectivity'
      l3-connectivity:
        type: array
        items:
          $ref: '#/definitions/l3-connectivity'

  # Return value of connectivity check
  connectivity-report:
    type: object
    properties:
      remote-nodes:
        type: array
        items:
          $ref: '#/definitions/connectivity-remote-node'
