swagger: '2.0'
info:
  description: 'Assisted installation'
  version: 1.0.0
  title: AssistedInstall
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
host: api.openshift.com
basePath: /api/assisted-install
tags:
  - name: Assisted installation
    description: Agent-driven installation
  - name: events
    description: Events related to a cluster installation.
  - name: installer
    description: General OpenShift cluster installation APIs.
  - name: managed_domains
    description: Managed dns domains for a cluster installation.
  - name: manifests
    description: Manifests for customizing a cluster installation.
  - name: operators
    description: Information regarding supported operators.
  - name: versions
    description: Information regarding versions.

schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json

securityDefinitions:
  agentAuth:
    type: apiKey
    in: header
    name: X-Secret-Key
  userAuth:
    type: apiKey
    in: header
    name: Authorization
  urlAuth:
    type: apiKey
    in: query
    name: api_key
  imageAuth:
    type: apiKey
    in: header
    name: Image-Token
  imageURLAuth:
    type: apiKey
    in: query
    name: image_token

security:
  - userAuth: [admin, user]

paths:
  /v2/clusters:
    post:
      tags:
        - installer
      description: Creates a new OpenShift cluster definition.
      operationId: v2RegisterCluster
      parameters:
        - in: body
          name: new-cluster-params
          description: The properties describing the new cluster.
          required: true
          schema:
            $ref: '#/definitions/cluster-create-params'
      responses:
        "201":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
      description: Retrieves the list of OpenShift clusters.
      operationId: v2ListClusters
      parameters:
        - in: header
          name: get_unregistered_clusters
          description: Whether to return clusters that have been unregistered.
          type: boolean
          required: false
          default: false
        - in: query
          name: openshift_cluster_id
          description: A specific cluster to retrieve.
          type: string
          format: uuid
          required: false
        - in: query
          name: ams_subscription_ids
          description: If non-empty, returned Clusters are filtered to those with matching subscription IDs.
          required: false
          type: array
          items:
            type: string
        - in: query
          name: with_hosts
          description: Include hosts in the returned list.
          type: boolean
          allowEmptyValue: true
          default: false
        - in: query
          name: owner
          description: If provided, returns only clusters that are owned by the specified user.
          type: string
          required: false
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/cluster-list'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
        - agentAuth: []
      description: Retrieves the details of the OpenShift cluster.
      operationId: v2GetCluster
      parameters:
        - in: path
          name: cluster_id
          description: The cluster to be retrieved.
          type: string
          format: uuid
          required: true
        - in: header
          name: discovery_agent_version
          description: The software version of the discovery agent that is retrieving the cluster details.
          type: string
          required: false
        - in: header
          name: get_unregistered_clusters
          description: Whether to return clusters that have been unregistered.
          type: boolean
          required: false
          default: false
        - in: query
          name: exclude-hosts
          description: If true, do not include hosts.
          type: boolean
          required: false
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

    delete:
      tags:
        - installer
      description: Deletes an OpenShift cluster definition.
      operationId: v2DeregisterCluster
      parameters:
        - in: path
          name: cluster_id
          description: The cluster to be deregistered.
          format: uuid
          type: string
          required: true
      responses:
        "204":
          description: Success.
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

    patch:
      tags:
        - installer
      description: Updates an OpenShift cluster definition.
      operationId: V2UpdateCluster
      parameters:
        - in: path
          name: cluster_id
          description: The cluster to be updated.
          type: string
          format: uuid
          required: true
        - in: body
          name: cluster-update-params
          description: The properties to update.
          required: true
          schema:
            $ref: '#/definitions/v2-cluster-update-params'
      responses:
        "201":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/hosts:
    get:
      tags:
        - installer
      description: Get a list of cluster hosts according to supplied filters.
      operationId: ListClusterHosts
      security:
        - userAuth: [ admin, read-only-admin, user ]
        - agentAuth: []
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose hosts should be retrieved.
          type: string
          format: uuid
          required: true
        - in: query
          name: role
          description: Role to request.
          type: string
          enum: ['master', 'worker', 'auto-assign']
          required: false
        - in: query
          description: Hosts status to request.
          name: status
          type: string
          required: false
        - in: query
          name: with-inventory
          description: If true return the host's inventory.
          type: boolean
          required: false
        - in: query
          description: If true return the host's connectivity.
          name: with-connectivity
          type: boolean
          required: false
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/host-list'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/supported-platforms:
    get:
      tags:
        - installer
      description: A list of platforms that this cluster can support in its current configuration.
      operationId: GetClusterSupportedPlatforms
      security:
        - userAuth: [ admin, read-only-admin, user ]
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose platform types should be retrieved.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/platform_type'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/infra-envs:
    post:
      tags:
        - installer
      description: Creates a new OpenShift Discovery ISO.
      operationId: RegisterInfraEnv
      parameters:
        - in: body
          name: infraenv-create-params
          description: The parameters for the generated ISO.
          required: true
          schema:
            $ref: '#/definitions/infra-env-create-params'
      responses:
        "201":
          description: Success.
          schema:
            $ref: '#/definitions/infra-env'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "501":
          description: Not implemented.
          schema:
            $ref: '#/definitions/error'

    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
      description: Retrieves the list of infra-envs.
      operationId: ListInfraEnvs
      parameters:
        - in: query
          name: cluster_id
          description: If provided, returns only infra-envs which directly reference this cluster.
          type: string
          format: uuid
          required: false
        - in: query
          name: owner
          description: If provided, returns only infra-envs that are owned by the specified user.
          type: string
          required: false
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/infra-env-list'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "501":
          description: Not implemented.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/infra-envs/{infra_env_id}:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
        - agentAuth: []
        - urlAuth: []
        - imageAuth: []
        - imageURLAuth: []
      description: Retrieves the details of the infra-env.
      operationId: GetInfraEnv
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env to be retrieved.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/infra-env'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "501":
          description: Not implemented.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

    patch:
      tags:
        - installer
      description: Updates an infra-env.
      operationId: UpdateInfraEnv
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env to be updated.
          type: string
          format: uuid
          required: true
        - in: body
          name: infra-env-update-params
          description: The properties to update.
          required: true
          schema:
            $ref: '#/definitions/infra-env-update-params'
      responses:
        "201":
          description: Success.
          schema:
            $ref: '#/definitions/infra-env'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "501":
          description: Not implemented.
          schema:
            $ref: '#/definitions/error'

    delete:
      tags:
        - installer
      description: Deletes an infra-env.
      operationId: DeregisterInfraEnv
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env to be deleted.
          format: uuid
          type: string
          required: true
      responses:
        "204":
          description: Success.
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "501":
          description: Not implemented.
          schema:
            $ref: '#/definitions/error'

  /v2/infra-envs/{infra_env_id}/downloads/image-url:
    get:
      tags:
        - installer
      description: Creates a new pre-signed image download URL for the infra-env.
      operationId: GetInfraEnvDownloadURL
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env to be retrieved.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/presigned-url'
        "400":
          description: Bad Request.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "501":
          description: Not implemented.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/infra-envs/{infra_env_id}/hosts:
    post:
      tags:
        - installer
      security:
        - agentAuth: []
      description: Registers a new OpenShift agent.
      operationId: v2RegisterHost
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env that the agent is associated with.
          type: string
          format: uuid
          required: true
        - in: body
          name: new-host-params
          description: The description of the agent being registered.
          required: true
          schema:
            $ref: '#/definitions/host-create-params'
        - in: header
          name: discovery_agent_version
          description: The software version of the discovery agent that is registering the agent.
          type: string
          required: false
      responses:
        "201":
          description: Success.
          schema:
            $ref: '#/definitions/host_registration_response'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Cluster cannot accept new agents due to its current state.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "501":
          description: Not implemented.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
        - agentAuth: []
      description: Retrieves the list of OpenShift hosts that belong the infra-env.
      operationId: v2ListHosts
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env that the hosts are asociated with.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/host-list'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "501":
          description: Not implemented.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/infra-envs/{infra_env_id}/hosts/{host_id}:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
      description: Retrieves the details of the OpenShift host.
      operationId: v2GetHost
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env of the host that should be retrieved.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host that should be retrieved.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/host'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "501":
          description: Not implemented.
          schema:
            $ref: '#/definitions/error'
    patch:
      tags:
        - installer
      description: Update an Openshift host
      operationId: v2UpdateHost
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env ID of the host to be updated.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host that should be updated.
          type: string
          format: uuid
          required: true
        - in: body
          name: host-update-params
          description: The properties to update.
          required: true
          schema:
            $ref: '#/definitions/host-update-params'
      responses:
        "201":
          description: Success.
          schema:
            $ref: '#/definitions/host'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
    delete:
      tags:
        - installer
      description: Deregisters an OpenShift host.
      operationId: v2DeregisterHost
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env of the host that should be deregistered.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host that should be deregistered.
          type: string
          format: uuid
          required: true
      responses:
        "204":
          description: Success.
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/infra-envs/{infra_env_id}/hosts/{host_id}/instructions:
    get:
      tags:
        - installer
      security:
        - agentAuth: []
      description: Retrieves the next operations that the host agent needs to perform.
      operationId: v2GetNextSteps
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env of the host that is retrieving instructions.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host that is retrieving instructions.
          type: string
          format: uuid
          required: true
        - in: query
          name: timestamp
          type: integer
          description: The time on the host as seconds since the Unix epoch.
          required: false
        - in: header
          name: discovery_agent_version
          description: The software version of the discovery agent that is retrieving instructions.
          type: string
          required: false
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/steps'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "501":
          description: Not implemented.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

    post:
      tags:
        - installer
      security:
        - agentAuth: []
      description: Posts the result of the operations from the host agent.
      operationId: v2PostStepReply
      parameters:
        - in: header
          name: discovery_agent_version
          description: The software version of the discovery agent that is posting results.
          type: string
          required: false
        - in: path
          name: infra_env_id
          description: The infra-env of the host that is posting results.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host that is posting results.
          type: string
          format: uuid
          required: true
        - name: reply
          description: The results to be posted.
          in: body
          schema:
            $ref: '#/definitions/step-reply'
      responses:
        "204":
          description: Success.
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "501":
          description: Not implemented.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/infra-envs/{infra_env_id}/hosts/{host_id}/progress:
    put:
      tags:
        - installer
      security:
        - agentAuth: []
      description: Update installation progress.
      operationId: v2UpdateHostInstallProgress
      parameters:
        - in: header
          name: discovery_agent_version
          description: The software version of the discovery agent that is updating progress.
          type: string
          required: false
        - in: path
          name: infra_env_id
          description: The infra-env of the host being updated.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The ID of the host to update.
          type: string
          format: uuid
          required: true
        - in: body
          name: host-progress
          description: New progress value.
          required: true
          schema:
            $ref: '#/definitions/host-progress'
      responses:
        "200":
          description: Update install progress.
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/infra-envs/{infra_env_id}/hosts/{host_id}/actions/bind:
    post:
      tags:
        - installer
      description: Bind host to a cluster
      operationId: BindHost
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env of the host that is being bound.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host that is being bound.
          type: string
          format: uuid
          required: true
        - name: bind-host-params
          description: The parameters for the host binding.
          in: body
          required: true
          schema:
            $ref: '#/definitions/bind-host-params'
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/host'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "501":
          description: Not implemented.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/infra-envs/{infra_env_id}/hosts/{host_id}/actions/unbind:
    post:
      tags:
        - installer
      description: Unbind host to a cluster
      operationId: UnbindHost
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env of the host that is being bound.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host that is being bound.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/host'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Conflict.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "501":
          description: Not implemented.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/infra-envs/{infra_env_id}/hosts/{host_id}/actions/reset-validation/{validation_id}:
    patch:
      tags:
        - installer
      summary: Reset failed host validation.
      operationId: v2ResetHostValidation
      description: Reset failed host validation. It may be performed on any host validation with persistent validation result.
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env of the host that its validation is being reset.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host that its validation is being reset.
          type: string
          format: uuid
          required: true
        - in: path
          description: The id of the validation being reset.
          type: string
          name: validation_id
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/host'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/infra-envs/{infra_env_id}/hosts/{host_id}/actions/reset:
    post:
      tags:
        - installer
      description: reset a failed host for day2 cluster.
      operationId: v2ResetHost
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env of the host that is being reset.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host that is being reset.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/host'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/infra-envs/{infra_env_id}/hosts/{host_id}/actions/install:
    post:
      tags:
        - installer
      description: install specific host for day2 cluster.
      operationId: v2InstallHost
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env of the host that is being installed.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host that is being installed.
          type: string
          format: uuid
          required: true
      responses:
        "202":
          description: Success.
          schema:
            $ref: '#/definitions/host'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/infra-envs/{infra_env_id}/hosts/{host_id}/installer-args:
    patch:
      tags:
        - installer
      description: Updates a host's installer arguments.
      operationId: v2UpdateHostInstallerArgs
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env of the host whose installer arguments should be updated.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host whose installer arguments should be updated.
          type: string
          format: uuid
          required: true
        - in: body
          name: installer-args-params
          description: The updated installer arguments.
          required: true
          schema:
            $ref: '#/definitions/installer-args-params'
      responses:
        "201":
          description: Success.
          schema:
            $ref: '#/definitions/host'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "501":
          description: Not implemented.
          schema:
            $ref: '#/definitions/error'

  /v2/infra-envs/{infra_env_id}/hosts/{host_id}/ignition:
    get:
      tags:
        - installer
      description: Fetch the ignition file for this host as a string. In case of unbound host produces an error
      operationId: v2GetHostIgnition
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env of the host whose ignition file should be obtained.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host whose ignition file should be obtained.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/host-ignition-params'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "501":
          description: Not implemented.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'
    patch:
      tags:
        - installer
      description: Patch the ignition file for this host
      operationId: v2UpdateHostIgnition
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env of the host whose ignition file should be updated.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host whose ignition file should be updated.
          type: string
          format: uuid
          required: true
        - in: body
          name: host-ignition-params
          description: Ignition config overrides.
          required: true
          schema:
            $ref: '#/definitions/host-ignition-params'
      responses:
        "201":
          description: Success.
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "501":
          description: Not implemented.
          schema:
            $ref: '#/definitions/error'

  /v2/infra-envs/{infra_env_id}/downloads/files:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
        - agentAuth: []
        - urlAuth: []
        - imageAuth: []
        - imageURLAuth: []
      description: Downloads the customized ignition file for this host
      operationId: v2DownloadInfraEnvFiles
      produces:
        - application/octet-stream
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env whose file should be downloaded.
          type: string
          format: uuid
          required: true
        - in: query
          name: file_name
          description: The file to be downloaded.
          type: string
          enum: [discovery.ign, ipxe-script, static-network-config]
          required: true
        - in: query
          name: mac
          description: Mac address of the host running ipxe script.
          type: string
          format: mac
          required: false
        - in: query
          name: ipxe_script_type
          description: Specify the script type to be served for iPXE.
          required: false
          type: string
          enum: ['discovery-image-always', 'boot-order-control']
        - in: query
          name: discovery_iso_type
          description: Overrides the ISO type for the disovery ignition, either 'full-iso' or 'minimal-iso'.
          required: false
          type: string
          enum: ['full-iso', 'minimal-iso']
      responses:
        "200":
          description: Success.
          schema:
            type: file
        "400":
          description: Bad Request.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "501":
          description: Not implemented.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/infra-envs/{infra_env_id}/downloads/files-presigned:
    get:
      tags:
        - installer
      description: Creates a new pre-signed download URL for the infra-env.
      operationId: GetInfraEnvPresignedFileURL
      parameters:
        - in: path
          name: infra_env_id
          description: The file's infra-env.
          type: string
          format: uuid
          required: true
        - in: query
          name: file_name
          description: The file to be downloaded.
          type: string
          enum: [discovery.ign, ipxe-script]
          required: true
        - in: query
          name: ipxe_script_type
          description: Specify the script type to be served for iPXE.
          required: false
          type: string
          enum: ['discovery-image-always', 'boot-order-control']
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/presigned-url'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "501":
          description: Not implemented.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/infra-envs/{infra_env_id}/hosts/{host_id}/logs-progress:
    put:
      tags:
        - installer
      security:
        - agentAuth: []
      description: Update log collection state and progress.
      operationId: v2UpdateHostLogsProgress
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env whose log progress is being updated.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host whose log progress is being updated.
          type: string
          format: uuid
          required: true
        - in: body
          name: logs-progress-params
          description: Parameters for updating log progress.
          required: true
          schema:
            $ref: '#/definitions/logs-progress-params'
      responses:
        "204":
          description: Update cluster install progress.
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "501":
          description: Not implemented.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/infra-envs/{infra_env_id}/regenerate-signing-key:
    post:
      tags:
        - installer
      description: Regenerate InfraEnv token signing key.
      operationId: RegenerateInfraEnvSigningKey
      parameters:
        - in: path
          name: infra_env_id
          description: The target InfraEnv.
          type: string
          format: uuid
          required: true
      responses:
        "204":
          description: Success.
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/default-config:
    get:
      tags:
        - installer
      security:
        - userAuth: [ admin, read-only-admin, user ]
      description: Get the default values for various cluster properties.
      operationId: V2GetClusterDefaultConfig
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/cluster_default_config'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/downloads/credentials-presigned:
    get:
      tags:
        - installer
      security:
        - userAuth: [user]
      description: Get the cluster admin credentials.
      operationId: V2GetPresignedForClusterCredentials
      parameters:
        - in: path
          name: cluster_id
          description: The cluster that owns the file that should be downloaded.
          type: string
          format: uuid
          required: true
        - in: query
          name: file_name
          description: The file to be downloaded.
          type: string
          enum: [kubeadmin-password, kubeconfig, kubeconfig-noingress]
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/presigned-url'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/credentials:
    get:
      tags:
        - installer
      security:
        - userAuth: [ user ]
      description: Get the cluster admin credentials.
      operationId: V2GetCredentials
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose admin credentials should be retrieved.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/credentials'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/downloads/files:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
        - agentAuth: []
        - urlAuth: []
      description: Downloads files relating to the installed/installing cluster.
      operationId: V2DownloadClusterFiles
      produces:
        - application/octet-stream
      parameters:
        - in: path
          name: cluster_id
          description: The cluster that owns the file that should be downloaded.
          type: string
          format: uuid
          required: true
        - in: query
          name: file_name
          description: The file to be downloaded.
          type: string
          enum: [bootstrap.ign, master.ign, metadata.json, worker.ign, install-config.yaml, custom_manifests.json, custom_manifests.yaml]
          required: true
        - in: header
          name: discovery_agent_version
          description: The software version of the discovery agent that is downloading the file.
          type: string
          required: false
      responses:
        "200":
          description: Success.
          schema:
            type: file
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/downloads/credentials:
    get:
      tags:
        - installer
      security:
        - userAuth: [user]
        - urlAuth: []
        - agentAuth: []
      description: Downloads credentials relating to the installed/installing cluster.
      operationId: V2DownloadClusterCredentials
      produces:
        - application/octet-stream
      parameters:
        - in: path
          name: cluster_id
          description: The cluster that owns the credential file that should be downloaded.
          type: string
          format: uuid
          required: true
        - in: query
          name: file_name
          description: The credential file to be downloaded.
          type: string
          enum: [kubeadmin-password, kubeconfig, kubeconfig-noingress]
          required: true
      responses:
        "200":
          description: Success.
          schema:
            type: file
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/downloads/files-presigned:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
      description: Retrieves a pre-signed S3 URL for downloading cluster files.
      operationId: V2GetPresignedForClusterFiles
      parameters:
        - in: path
          name: cluster_id
          description: The cluster that owns the file that should be downloaded.
          type: string
          format: uuid
          required: true
        - in: query
          name: file_name
          description: The file to be downloaded.
          type: string
          enum: [bootstrap.ign, master.ign, metadata.json, worker.ign, install-config.yaml, logs, manifests]
          required: true
        - in: query
          name: logs_type
          description: If downloading logs, the type of logs to download.
          type: string
          enum: ["host", "controller", "all"]
          required: false
        - in: query
          name: host_id
          description: If downloading a file related to a host, the relevant host.
          type: string
          format: uuid
          required: false
        - in: query
          name: additional_name
          description: If downloading a manifest, the file name, prefaced with folder name, for example, openshift/99-openshift-xyz.yaml.
          type: string
          required: false
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/presigned-url'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/infra-envs/{infra_env_id}/downloads/minimal-initrd:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
        - urlAuth: []
        - imageAuth: []
      description: |
        Get the initial ramdisk for minimal ISO based installations.
      operationId: DownloadMinimalInitrd
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env of the host that should be retrieved.
          type: string
          format: uuid
          required: true
      produces:
        - application/octet-stream
      responses:
        "200":
          description: Success.
          schema:
            type: string
            format: binary
        "204":
          description: Empty Success.
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Conflict.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/install-config:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
      description: Get the cluster's install config YAML.
      operationId: v2GetClusterInstallConfig
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose install config is being retrieved.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            type: string
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
    patch:
      tags:
        - installer
      description: Override values in the install config.
      operationId: v2UpdateClusterInstallConfig
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose install config is being updated.
          type: string
          format: uuid
          required: true
        - in: body
          name: install-config-params
          description: Install config overrides.
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Success.
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/domains:
    get:
      tags:
        - managed_domains
      security:
        - userAuth: [admin, read-only-admin, user]
      description: List of managed DNS domains.
      operationId: V2ListManagedDomains
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/list-managed-domains'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/actions/install:
    post:
      tags:
        - installer
      description: Installs the OpenShift cluster.
      operationId: v2InstallCluster
      parameters:
        - in: path
          name: cluster_id
          description: The cluster to be installed.
          type: string
          format: uuid
          required: true
      responses:
        "202":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/actions/cancel:
    post:
      tags:
        - installer
      description: Cancels an ongoing installation.
      operationId: V2CancelInstallation
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose installation is to be canceled.
          type: string
          format: uuid
          required: true
      responses:
        "202":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/actions/reset:
    post:
      tags:
        - installer
      description: Resets a failed installation.
      operationId: v2ResetCluster
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose installation is to be reset.
          type: string
          format: uuid
          required: true
      responses:
        "202":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/actions/allow-add-workers:
    post:
      tags:
        - installer
      description: Deprecated, maintained for legacy purposes. Does the same thing as allow-add-hosts. Use allow-add-hosts instead. 
      deprecated: true
      operationId: TransformClusterToDay2
      parameters:
        - in: path
          name: cluster_id
          description: The cluster to transform.
          type: string
          format: uuid
          required: true
      responses:
        "202":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/actions/allow-add-hosts:
    post:
      tags:
        - installer
      description: Transforms installed cluster to a state which allows adding hosts.
      operationId: TransformClusterToAddingHosts
      parameters:
        - in: path
          name: cluster_id
          description: The cluster to transform.
          type: string
          format: uuid
          required: true
      responses:
        "202":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/preflight-requirements:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
      description: Get preflight requirements for a cluster.
      operationId: v2GetPreflightRequirements
      parameters:
        - in: path
          name: cluster_id
          description: The cluster to return preflight requirements for.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/preflight-hardware-requirements'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/supported-operators/{operator_name}:
    get:
      tags:
        - operators
      security:
        - userAuth: [admin, read-only-admin, user]
      description: Lists properties for an operator.
      operationId: V2ListOperatorProperties
      parameters:
        - in: path
          name: operator_name
          description: The operator name.
          type: string
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/operator-properties'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/supported-operators:
    get:
      tags:
        - operators
      operationId: V2ListSupportedOperators
      description: Retrieves the list of supported operators.
      responses:
        "200":
          description: Success.
          schema:
            type: array
            items:
              type: string
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/uploads/ingress-cert:
    post:
      tags:
        - installer
      security:
        - agentAuth: []
      description: Transfer the ingress certificate for the cluster.
      operationId: v2UploadClusterIngressCert
      parameters:
        - in: path
          name: cluster_id
          description: The cluster to associate with the ingress certificate.
          type: string
          format: uuid
          required: true
        - in: body
          name: ingress-cert-params
          description: The ingress certificate.
          required: true
          schema:
            $ref: '#/definitions/ingress-cert-params'
        - in: header
          name: discovery_agent_version
          description: The software version of the discovery agent that is uploading the ingress certificate.
          type: string
          required: false
      responses:
        "201":
          description: Success.
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/actions/complete-installation:
    post:
      tags:
        - installer
      security:
        - agentAuth: []
      description: Agent API to mark a finalizing installation as complete and progress to 100%.
      operationId: v2CompleteInstallation
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose installation is being completing.
          type: string
          format: uuid
          required: true
        - in: body
          name: completion-params
          description: The final status of the cluster installation.
          required: true
          schema:
            $ref: '#/definitions/completion-params'
        - in: header
          name: discovery_agent_version
          description: The software version of the discovery agent that is completing the installation.
          type: string
          required: false
      responses:
        "202":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/logs-progress:
    put:
      tags:
        - installer
      security:
        - agentAuth: []
      description: Update log collection state and progress.
      operationId: v2UpdateClusterLogsProgress
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose log progress is being updated.
          type: string
          format: uuid
          required: true
        - in: body
          name: logs-progress-params
          description: Parameters for updating log progress.
          required: true
          schema:
            $ref: '#/definitions/logs-progress-params'
      responses:
        "204":
          description: Update cluster install progress.
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/manifests:
    get:
      tags:
        - manifests
      security:
        - userAuth: []
      description: Lists manifests for customizing cluster installation.
      operationId: V2ListClusterManifests
      parameters:
        - in: path
          name: cluster_id
          description: The cluster for which the manifests should be listed.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/list-manifests'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

    post:
      tags:
        - manifests
      security:
        - userAuth: []
      description: Creates a manifest for customizing cluster installation.
      operationId: V2CreateClusterManifest
      parameters:
        - in: path
          name: cluster_id
          description: The cluster for which a new manifest should be created.
          type: string
          format: uuid
          required: true
        - in: body
          name: CreateManifestParams
          description: The new manifest to create.
          required: true
          schema:
            $ref: '#/definitions/create-manifest-params'
      responses:
        "201":
          description: Success.
          schema:
            $ref: '#/definitions/manifest'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

    delete:
      tags:
        - manifests
      description: Deletes a manifest from the cluster.
      operationId: V2DeleteClusterManifest
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose manifest should be deleted.
          type: string
          format: uuid
          required: true
        - in: query
          name: folder
          description: The folder that contains the files. Manifests can be placed in 'manifests' or 'openshift' directories.
          type: string
          enum: [manifests,openshift]
          required: false
          default: manifests
        - in: query
          name: file_name
          description: The manifest file name to delete from the cluster.
          type: string
          required: true
      responses:
        "200":
          description: Success.
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/component-versions:
    get:
      tags:
        - versions
      security:
        - userAuth: [admin, read-only-admin, user]
      description: List of component versions.
      operationId: v2ListComponentVersions
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/list-versions'

  /v2/openshift-versions:
    get:
      tags:
        - versions
      security:
        - userAuth: [admin, read-only-admin, user]
      operationId: v2ListSupportedOpenshiftVersions
      description: Retrieves the list of OpenShift supported versions.
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/openshift-versions'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/manifests/files:
    get:
      tags:
        - manifests
      security:
        - userAuth: []
      description: Downloads cluster manifest.
      operationId: v2DownloadClusterManifest
      produces:
        - application/octet-stream
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose manifest should be downloaded.
          type: string
          format: uuid
          required: true
        - in: query
          name: folder
          description: The folder that contains the files. Manifests can be placed in 'manifests' or 'openshift' directories.
          type: string
          enum: [manifests,openshift]
          required: false
          default: manifests
        - in: query
          name: file_name
          description: The manifest file name to download.
          type: string
          required: true
      responses:
        "200":
          description: Success.
          schema:
            type: file
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/logs:
    get:
      tags:
        - installer
      description: Download cluster logs.
      security:
        - userAuth: [admin, read-only-admin, user]
        - urlAuth: []
      operationId: V2DownloadClusterLogs
      produces:
        - 'application/octet-stream'
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose logs should be downloaded.
          type: string
          format: uuid
          required: true
        - in: query
          name: logs_type
          description: The type of logs to be downloaded.
          type: string
          enum: ['host', 'controller', 'all']
          required: false
        - in: query
          name: host_id
          description: A specific host in the cluster whose logs should be downloaded.
          type: string
          format: uuid
          required: false
      responses:
        "200":
          description: Success.
          schema:
            type: file
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
    post:
      tags:
        - installer
      security:
        - agentAuth: []
      description: Agent API to upload logs.
      operationId: V2UploadLogs
      consumes:
        - multipart/form-data
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose logs should be uploaded.
          type: string
          format: uuid
          required: true
        - in: formData
          name: upfile
          description: The log file to be uploaded.
          type: file
          required: false
          maxLength: 104857600  #100MB
          x-mimetype: application/zip
        - in: query
          name: logs_type
          description: The type of log file to be uploaded.
          type: string
          enum: ['host', 'controller', 'node-boot']
          required: true
        - in: query
          name: infra_env_id
          description: The infra-env ID of the host.
          type: string
          format: uuid
          required: false
        - in: query
          name: host_id
          description: The host whose logs should be uploaded.
          type: string
          format: uuid
          required: false
      responses:
        "204":
          description: Success.
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/monitored-operators:
    get:
      tags:
        - operators
        - installer
      security:
        - agentAuth: []
      description: Lists operators to be monitored for a cluster.
      operationId: V2ListOfClusterOperators
      parameters:
        - in: path
          name: cluster_id
          description: The cluster to return operators for.
          type: string
          format: uuid
          required: true
        - in: query
          name: operator_name
          description: An operator in the specified cluster to return its data.
          type: string
          required: false
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/monitored-operators-list'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'


    put:
      tags:
        - operators
        - installer
      security:
        - agentAuth: []
      description: Controller API to report of monitored operators.
      operationId: v2ReportMonitoredOperatorStatus
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose operators are being monitored.
          type: string
          format: uuid
          required: true
        - in: body
          name: report-params
          description: The operators monitor report.
          required: true
          schema:
            $ref: '#/definitions/operator-monitor-report'
      responses:
        "200":
          description: Success.
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/infra-env/{infra_env_id}/hosts/{host_id}/downloads/ignition:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
        - agentAuth: []
      description: Downloads the customized ignition file for this bound host, produces octet stream. For unbound host - error is returned
      operationId: v2DownloadHostIgnition
      produces:
        - application/octet-stream
      parameters:
        - in: path
          name: infra_env_id
          description: The infra-env of the host whose ignition file should be downloaded.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host whose ignition file should be downloaded.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            type: file
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/events:
    get:
      tags:
        - events
      security:
        - userAuth: [admin, read-only-admin, user]
        - urlAuth: []
      description: Lists events for a cluster.
      operationId: v2ListEvents
      parameters:
        - in: query
          name: cluster_id
          description: The cluster to return events for.
          type: string
          format: uuid
          required: False
        - in: query
          name: host_id
          description: A host in the specified cluster to return events for.
          type: string
          format: uuid
          required: false
        - in: query
          name: infra_env_id
          description: The infra-env to return events for.
          type: string
          format: uuid
          required: false
        - in: query
          name: categories
          description: A comma-separated list of event categories.
          type: array
          items:
            type: string
          required: false
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/event-list'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/feature-support-levels:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
      operationId: v2ListFeatureSupportLevels
      description: Retrieves the support levels for features for each OpenShift version.
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/feature-support-levels'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/import:
    post:
      tags:
        - installer
      description: Import an AI cluster using minimal data assosiated with existing OCP cluster, in order to allow adding day2 hosts to that cluster
      operationId: v2ImportCluster
      parameters:
        - in: body
          name: new-import-cluster-params
          description: Parameters for importing a OCP cluster for adding nodes.
          required: true
          schema:
            $ref: '#/definitions/import-cluster-params'
      responses:
        "201":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /v2/clusters/{cluster_id}/ignored-validations:
    get:
      tags:
        - installer
      description: Fetch the validations which are to be ignored for this cluster.
      operationId: v2GetIgnoredValidations
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose failing validations should be ignored according to this list.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/ignored-validations'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
    put:
      tags:
        - installer
      description: Register the validations which are to be ignored for this cluster.
      operationId: v2SetIgnoredValidations
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose failing validations should be ignored according to this list.
          type: string
[...]
