swagger: '2.0'
info:
  description: 'Assisted installation'
  version: 1.0.0
  title: AssistedInstall
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
host: api.openshift.com
basePath: /api/assisted-install/v1
tags:
  - name: Assisted installation
    description: Agent-driven installation
  - name: assisted-service-iso
    description: ISO that contains the Assisted Service.
  - name: bootfiles
    description: Non-customized files used to boot hosts.
  - name: events
    description: Events related to a cluster installation.
  - name: installer
    description: General OpenShift cluster installation APIs.
  - name: managed_domains
    description: Managed dns domains for a cluster installation.
  - name: manifests
    description: Manifests for customizing a cluster installation.
  - name: operators
    description: Information regarding supported operators.
  - name: versions
    description: Information regarding versions.

schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json

securityDefinitions:
  agentAuth:
    type: apiKey
    in: header
    name: X-Secret-Key
  userAuth:
    type: apiKey
    in: header
    name: Authorization

security:
  - userAuth: [admin, user]

paths:
  /clusters:
    post:
      tags:
        - installer
      description: Creates a new OpenShift cluster definition.
      operationId: RegisterCluster
      parameters:
        - in: body
          name: new-cluster-params
          description: The properties describing the new cluster.
          required: true
          schema:
            $ref: '#/definitions/cluster-create-params'
      responses:
        "201":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
      description: Retrieves the list of OpenShift clusters.
      operationId: ListClusters
      parameters:
        - in: header
          name: get_unregistered_clusters
          description: Whether to return clusters that have been unregistered.
          type: boolean
          required: false
          default: false
        - in: query
          name: openshift_cluster_id
          description: A specific cluster to retrieve.
          type: string
          format: uuid
          required: false
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/cluster-list'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
        - agentAuth: []
      description: Retrieves the details of the OpenShift cluster.
      operationId: GetCluster
      parameters:
        - in: path
          name: cluster_id
          description: The cluster to be retrieved.
          type: string
          format: uuid
          required: true
        - in: header
          name: discovery_agent_version
          description: The software version of the discovery agent that is retreiving the cluster details.
          type: string
          required: false
        - in: header
          name: get_unregistered_clusters
          description: Whether to return clusters that have been unregistered.
          type: boolean
          required: false
          default: false
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

    patch:
      tags:
        - installer
      description: Updates an OpenShift cluster definition.
      operationId: UpdateCluster
      parameters:
        - in: path
          name: cluster_id
          description: The cluster to be updated.
          type: string
          format: uuid
          required: true
        - in: body
          name: cluster-update-params
          description: The properties to update.
          required: true
          schema:
            $ref: '#/definitions/cluster-update-params'
      responses:
        "201":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

    delete:
      tags:
        - installer
      description: Deletes an OpenShift cluster definition.
      operationId: DeregisterCluster
      parameters:
        - in: path
          name: cluster_id
          description: The cluster to be deregistered.
          format: uuid
          type: string
          required: true
      responses:
        "204":
          description: Success.
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/downloads/image:
    post:
      tags:
        - installer
      description: Creates a new OpenShift per-cluster Discovery ISO.
      operationId: GenerateClusterISO
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose ISO should be generated.
          type: string
          format: uuid
          required: true
        - in: body
          name: image-create-params
          description: The parameters for the generated ISO.
          required: true
          schema:
            $ref: '#/definitions/image-create-params'
      responses:
        "201":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

    get:
      tags:
        - installer
      description: Downloads the OpenShift per-cluster Discovery ISO.
      security:
        - userAuth: [admin, read-only-admin, user]
      operationId: DownloadClusterISO
      produces:
        # application/vnd.efi.iso is not supported
        - application/octet-stream
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose ISO should be downloaded.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            type: string
            format: binary
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/downloads/files:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
        - agentAuth: []
      description: Downloads files relating to the installed/installing cluster.
      operationId: DownloadClusterFiles
      produces:
        - application/octet-stream
      parameters:
        - in: path
          name: cluster_id
          description: The cluster that owns the file that should be downloaded.
          type: string
          format: uuid
          required: true
        - in: query
          name: file_name
          description: The file to be downloaded.
          type: string
          enum: [bootstrap.ign, master.ign, metadata.json, worker.ign, kubeadmin-password, kubeconfig, kubeconfig-noingress, install-config.yaml, discovery.ign]
          required: true
        - in: header
          name: discovery_agent_version
          description: The software version of the discovery agent that is downloading the file.
          type: string
          required: false
      responses:
        "200":
          description: Success.
          schema:
            type: file
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/downloads/files-presigned:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
      description: Retrieves a pre-signed S3 URL for downloading cluster files.
      operationId: GetPresignedForClusterFiles
      parameters:
        - in: path
          name: cluster_id
          description: The cluster that owns the file that should be downloaded.
          type: string
          format: uuid
          required: true
        - in: query
          name: file_name
          description: The file to be downloaded.
          type: string
          enum: [bootstrap.ign, master.ign, metadata.json, worker.ign, kubeadmin-password, kubeconfig, kubeconfig-noingress, install-config.yaml, logs, manifests]
          required: true
        - in: query
          name: logs_type
          description: If downloading logs, the type of logs to download.
          type: string
          enum: ["host", "controller", "all"]
          required: false
        - in: query
          name: host_id
          description: If downloading a file related to a host, the relevant host.
          type: string
          format: uuid
          required: false
        - in: query
          name: additional_name
          description: If downloading a manifest, the file name, prefaced with folder name, for example, openshift/99-openshift-xyz.yaml.
          type: string
          required: false
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/presigned'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/credentials:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
      description: Get the cluster admin credentials.
      operationId: GetCredentials
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose admin credentials should be retrieved.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/credentials'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/downloads/kubeconfig:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
      description: Downloads the kubeconfig file for this cluster.
      operationId: DownloadClusterKubeconfig
      produces:
        - application/octet-stream
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose kubeconfig should be downloaded.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            type: string
            format: binary
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/install-config:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
      description: Get the cluster's install config YAML.
      operationId: GetClusterInstallConfig
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose install config is being retrieved.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            type: string
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
    patch:
      tags:
        - installer
      description: Override values in the install config.
      operationId: UpdateClusterInstallConfig
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose install config is being updated.
          type: string
          format: uuid
          required: true
        - in: body
          name: install-config-params
          description: Install config overrides.
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Success.
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/progress:
    put:
      tags:
        - installer
      security:
        - agentAuth: []
      description: Update cluster installation progress.
      operationId: UpdateClusterInstallProgress
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose progress is being updated.
          type: string
          format: uuid
          required: true
        - in: body
          name: cluster-progress
          description: Cluster install progress value.
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Update cluster install progress.
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/discovery-ignition:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
      description: Get the cluster discovery ignition config
      operationId: GetDiscoveryIgnition
      parameters:
        - in: path
          name: cluster_id
          description: The cluster for which the discovery ignition config should be retrieved.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/discovery-ignition-params'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
    patch:
      tags:
        - installer
      description: Override values in the discovery ignition config
      operationId: UpdateDiscoveryIgnition
      parameters:
        - in: path
          name: cluster_id
          description: The cluster for which the discovery ignition config should be updated.
          type: string
          format: uuid
          required: true
        - in: body
          name: discovery-ignition-params
          description: Overrides for the discovery ignition config.
          required: true
          schema:
            $ref: '#/definitions/discovery-ignition-params'
      responses:
        "201":
          description: Success.
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/manifests:
    get:
      tags:
        - manifests
      security:
        - userAuth: []
      description: Lists manifests for customizing cluster installation.
      operationId: ListClusterManifests
      parameters:
        - in: path
          name: cluster_id
          description: The cluster for which the manifests should be listed.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/list-manifests'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

    post:
      tags:
        - manifests
      security:
        - userAuth: []
      description: Creates a manifest for customizing cluster installation.
      operationId: CreateClusterManifest
      parameters:
        - in: path
          name: cluster_id
          description: The cluster for which a new manifest should be created.
          type: string
          format: uuid
          required: true
        - in: body
          name: CreateManifestParams
          description: The new manifest to create.
          required: true
          schema:
            $ref: '#/definitions/create-manifest-params'
      responses:
        "201":
          description: Success.
          schema:
            $ref: '#/definitions/manifest'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

    delete:
      tags:
        - manifests
      description: Deletes a manifest from the cluster.
      operationId: DeleteClusterManifest
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose manifest should be deleted.
          type: string
          format: uuid
          required: true
        - in: query
          name: folder
          description: The folder that contains the files. Manifests can be placed in 'manifests' or 'openshift' directories.
          type: string
          enum: [manifests,openshift]
          required: false
          default: manifests
        - in: query
          name: file_name
          description: The manifest file name to delete from the cluster.
          type: string
          required: true
      responses:
        "200":
          description: Success.
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/manifests/files:
    get:
      tags:
        - manifests
      security:
        - userAuth: []
      description: Downloads cluster manifest.
      operationId: DownloadClusterManifest
      produces:
        - application/octet-stream
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose manifest should be downloaded.
          type: string
          format: uuid
          required: true
        - in: query
          name: folder
          description: The folder that contains the files. Manifests can be placed in 'manifests' or 'openshift' directories.
          type: string
          enum: [manifests,openshift]
          required: false
          default: manifests
        - in: query
          name: file_name
          description: The manifest file name to download.
          type: string
          required: true
      responses:
        "200":
          description: Success.
          schema:
            type: file
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/uploads/ingress-cert:
    post:
      tags:
        - installer
      security:
        - agentAuth: []
      description: Transfer the ingress certificate for the cluster.
      operationId: UploadClusterIngressCert
      parameters:
        - in: path
          name: cluster_id
          description: The cluster to associate with the ingress certificate.
          type: string
          format: uuid
          required: true
        - in: body
          name: ingress-cert-params
          description: The ingress certificate.
          required: true
          schema:
            $ref: '#/definitions/ingress-cert-params'
        - in: header
          name: discovery_agent_version
          description: The software version of the discovery agent that is uploading the ingress certificate.
          type: string
          required: false
      responses:
        "201":
          description: Success.
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/actions/install:
    post:
      tags:
        - installer
      description: Installs the OpenShift cluster.
      operationId: InstallCluster
      parameters:
        - in: path
          name: cluster_id
          description: The cluster to be installed.
          type: string
          format: uuid
          required: true
      responses:
        "202":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/actions/cancel:
    post:
      tags:
        - installer
      description: Cancels an ongoing installation.
      operationId: CancelInstallation
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose installation is to be canceled.
          type: string
          format: uuid
          required: true
      responses:
        "202":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/actions/install_hosts:
    post:
      tags:
        - installer
      description: Installs the OpenShift cluster.
      operationId: InstallHosts
      parameters:
        - in: path
          name: cluster_id
          description: The existing cluster whose hosts should be added.
          type: string
          format: uuid
          required: true
      responses:
        "202":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/actions/reset:
    post:
      tags:
        - installer
      description: Resets a failed installation.
      operationId: ResetCluster
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose installation is to be reset.
          type: string
          format: uuid
          required: true
      responses:
        "202":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/actions/complete_installation:
    post:
      tags:
        - installer
      security:
        - agentAuth: []
      description: Agent API to mark a finalizing installation as complete.
      operationId: CompleteInstallation
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose installation is being completing.
          type: string
          format: uuid
          required: true
        - in: body
          name: completion-params
          description: The final status of the cluster installationthe cluster installation.
          required: true
          schema:
            $ref: '#/definitions/completion-params'
        - in: header
          name: discovery_agent_version
          description: The software version of the discovery agent that is completing the installation.
          type: string
          required: false
      responses:
        "202":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/hosts:
    post:
      tags:
        - installer
      security:
        - agentAuth: []
      description: Registers a new OpenShift host.
      operationId: RegisterHost
      parameters:
        - in: path
          name: cluster_id
          description: The cluster into which the host should be registered.
          type: string
          format: uuid
          required: true
        - in: body
          name: new-host-params
          description: The description of the host being registered.
          required: true
          schema:
            $ref: '#/definitions/host-create-params'
        - in: header
          name: discovery_agent_version
          description: The software version of the discovery agent that is registering the host.
          type: string
          required: false
      responses:
        "201":
          description: Success.
          schema:
            $ref: '#/definitions/host_registration_response'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Cluster cannot accept new hosts due to its current state.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
        - agentAuth: []
      description: Retrieves the list of OpenShift hosts.
      operationId: ListHosts
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose hosts should be listed.
          type: string
          format: uuid
          required: true
        - in: header
          name: discovery_agent_version
          description: The software version of the discovery agent that is listing hosts.
          type: string
          required: false
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/host-list'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/hosts/{host_id}:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
      description: Retrieves the details of the OpenShift host.
      operationId: GetHost
      parameters:
        - in: path
          name: cluster_id
          description: The cluster of the host that should be retreived.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host that should be retreived.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/host'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

    delete:
      tags:
        - installer
      description: Deregisters an OpenShift host.
      operationId: DeregisterHost
      parameters:
        - in: path
          name: cluster_id
          description: The cluster of the host that should be deregistered.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host that should be deregistered.
          type: string
          format: uuid
          required: true
      responses:
        "204":
          description: Success.
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/hosts/{host_id}/installer-args:
    patch:
      tags:
        - installer
      description: Updates a host's installer arguments.
      operationId: UpdateHostInstallerArgs
      parameters:
        - in: path
          name: cluster_id
          description: The cluster of the host whose installer arguments should be updated.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host whose installer arguments should be updated.
          type: string
          format: uuid
          required: true
        - in: body
          name: installer-args-params
          description: The updated installer arguments.
          required: true
          schema:
            $ref: '#/definitions/installer-args-params'
      responses:
        "201":
          description: Success.
          schema:
            $ref: '#/definitions/host'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/hosts/{host_id}/progress:
    put:
      tags:
        - installer
      security:
        - agentAuth: []
      description: Update installation progress.
      operationId: UpdateHostInstallProgress
      parameters:
        - in: header
          name: discovery_agent_version
          description: The software version of the discovery agent that is updating progress.
          type: string
          required: false
        - in: path
          name: cluster_id
          description: The ID of the cluster to retrieve.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The ID of the host to retrieve.
          type: string
          format: uuid
          required: true
        - in: body
          name: host-progress
          description: New progress value.
          required: true
          schema:
            $ref: '#/definitions/host-progress'
      responses:
        "200":
          description: Update install progress.
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/hosts/{host_id}/actions/enable:
    post:
      tags:
        - installer
      description: Enables a host for inclusion in the cluster.
      operationId: EnableHost
      parameters:
        - in: path
          name: cluster_id
          description: The cluster of the host that is being enabled.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host that is being enabled.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

    delete:
      tags:
        - installer
      description: Disables a host for inclusion in the cluster.
      operationId: DisableHost
      parameters:
        - in: path
          name: cluster_id
          description: The cluster of the host that is being disabled.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host that is being disabled.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/hosts/{host_id}/actions/install:
    post:
      tags:
        - installer
      description: install specific host for day2 cluster.
      operationId: InstallHost
      parameters:
        - in: path
          name: cluster_id
          description: The cluster of the host that is being installed.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host that is being installed.
          type: string
          format: uuid
          required: true
      responses:
        "202":
          description: Success.
          schema:
            $ref: '#/definitions/host'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/hosts/{host_id}/actions/reset:
    post:
      tags:
        - installer
      description: reset a failed host for day2 cluster.
      operationId: ResetHost
      parameters:
        - in: path
          name: cluster_id
          description: The cluster of the host that is being reset.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host that is being reset.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/host'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/hosts/{host_id}/instructions:
    get:
      tags:
        - installer
      security:
        - agentAuth: []
      description: Retrieves the next operations that the host agent needs to perform.
      operationId: GetNextSteps
      parameters:
        - in: path
          name: cluster_id
          description: The cluster of the host that is retreiving instructions.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host that is retreiving instructions.
          type: string
          format: uuid
          required: true
        - in: header
          name: discovery_agent_version
          description: The software version of the discovery agent that is retrieving instructions.
          type: string
          required: false
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/steps'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

    post:
      tags:
        - installer
      security:
        - agentAuth: []
      description: Posts the result of the operations from the host agent.
      operationId: PostStepReply
      parameters:
        - in: header
          name: discovery_agent_version
          description: The software version of the discovery agent that is posting results.
          type: string
          required: false
        - in: path
          name: cluster_id
          description: The cluster of the host that is posting results.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host that is posting results.
          type: string
          format: uuid
          required: true
        - name: reply
          description: The results to be posted.
          in: body
          schema:
            $ref: '#/definitions/step-reply'
      responses:
        "204":
          description: Success.
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/hosts/{host_id}/logs:
    post:
      tags:
        - installer
      security:
        - agentAuth: []
      description: Agent API to upload logs.
      deprecated: true
      operationId: UploadHostLogs
      consumes:
        - multipart/form-data
      parameters:
        - in: path
          name: cluster_id
          description: The cluster of the host whose logs should be uploaded.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host whose logs should be uploaded.
          type: string
          format: uuid
          required: true
        - in: formData
          name: upfile
          description: The log file to be uploaded.
          # TODO return after fix in go-swagger and moving to 0.25 or o.26
          # https://github.com/go-swagger/go-swagger/issues/2362
          # maxLength: 20971520  #20MB
          type: file
          required: false
          x-mimetype: application/zip
        - in: header
          name: discovery_agent_version
          description: The software version of the discovery agent that is uploading the logs.
          type: string
          required: false
      responses:
        "204":
          description: Success.
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

    get:
      tags:
        - installer
      description: Download host logs.
      deprecated: true
      security:
        - userAuth: [admin, read-only-admin, user]
      operationId: DownloadHostLogs
      produces:
        - application/octet-stream
      parameters:
        - in: path
          name: cluster_id
          description: The cluster of the host whose logs should be downloaded.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host whose logs should be downloaded.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            type: file
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/hosts/{host_id}/ignition:
    get:
      tags:
        - installer
      description: Get the customized ignition file for this host
      operationId: GetHostIgnition
      parameters:
        - in: path
          name: cluster_id
          description: The cluster of the host whose customized ignition file should be retrieved.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host whose customized ignition file should be retrieved.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/host-ignition-params'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
    patch:
      tags:
        - installer
      description: Patch the ignition file for this host
      operationId: UpdateHostIgnition
      parameters:
        - in: path
          name: cluster_id
          description: The cluster of the host whose ignition file should be updated.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host whose ignition file should be updated.
          type: string
          format: uuid
          required: true
        - in: body
          name: host-ignition-params
          description: Ignition config overrides.
          required: true
          schema:
            $ref: '#/definitions/host-ignition-params'
      responses:
        "201":
          description: Success.
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/hosts/{host_id}/downloads/ignition:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
        - agentAuth: []
      description: Downloads the customized ignition file for this host
      operationId: DownloadHostIgnition
      produces:
        - application/octet-stream
      parameters:
        - in: path
          name: cluster_id
          description: The cluster of the host whose ignition file should be downloaded.
          type: string
          format: uuid
          required: true
        - in: path
          name: host_id
          description: The host whose ignition file should be downloaded.
          type: string
          format: uuid
          required: true
      responses:
        "200":
          description: Success.
          schema:
            type: file
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'


  /clusters/{cluster_id}/logs:
    post:
      tags:
        - installer
      security:
        - agentAuth: []
      description: Agent API to upload logs.
      operationId: UploadLogs
      consumes:
        - multipart/form-data
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose logs should be uploaded.
          type: string
          format: uuid
          required: true
        - in: formData
          name: upfile
          description: The log file to be uploaded.
          type: file
          required: false
          maxLength: 104857600  #100MB
          x-mimetype: application/zip
        - in: query
          name: logs_type
          description: The type of log file to be uploaded.
          type: string
          enum: ['host', 'controller']
          required: true
        - in: query
          name: host_id
          description: The host whose logs should be uploaded.
          type: string
          format: uuid
          required: false
      responses:
        "204":
          description: Success.
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

    get:
      tags:
        - installer
      description: Download cluster logs.
      security:
        - userAuth: [admin, read-only-admin, user]
      operationId: DownloadClusterLogs
      produces:
        - 'application/octet-stream'
      parameters:
        - in: path
          name: cluster_id
          description: The cluster whose logs should be downloaded.
          type: string
          format: uuid
          required: true
        - in: query
          name: logs_type
          description: The type of logs to be downloaded.
          type: string
          enum: ['host', 'controller', 'all']
          required: false
        - in: query
          name: host_id
          description: A specific host in the cluster whose logs should be downloaded.
          type: string
          format: uuid
          required: false
      responses:
        "200":
          description: Success.
          schema:
            type: file
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "409":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  # The following API call should be admin only
  /clusters/{cluster_id}/free_addresses:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
      description: Retrieves the free address list for a network.
      operationId: GetFreeAddresses
      parameters:
        - in: path
          name: cluster_id
          description: The cluster to return free addresses for.
          type: string
          format: uuid
          required: true
        - in: query
          name: network
          description: The cluster network to return free addresses for.
          type: string
          pattern: '^([0-9]{1,3}\.){3}[0-9]{1,3}\/[0-9]|[1-2][0-9]|3[0-2]?$'
          required: true
        - in: query
          name: limit
          description: The maximum number of free addresses to return.
          type: integer
          minimum: 1
          maximum: 8000
          default: 8000
          required: false
        - in: query
          name: prefix
          description: A prefix for the free addresses to return.
          type: string
          required: false
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/free-addresses-list'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /clusters/{cluster_id}/events:
    get:
      tags:
        - events
      security:
        - userAuth: [admin, read-only-admin, user]
      description: Lists events for a cluster.
      operationId: ListEvents
      parameters:
        - in: path
          name: cluster_id
          description: The cluster to return events for.
          type: string
          format: uuid
          required: true
        - in: query
          name: host_id
          description: A host in the specified cluster to return events for.
          type: string
          format: uuid
          required: false
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/event-list'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /domains:
    get:
      tags:
        - managed_domains
      security:
        - userAuth: [admin, read-only-admin, user]
      description: List of managed DNS domains.
      operationId: ListManagedDomains
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/list-managed-domains'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /component_versions:
    get:
      tags:
        - versions
      security:
        - userAuth: [admin, read-only-admin, user]
      description: List of component versions.
      operationId: ListComponentVersions
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/list-versions'

  /openshift_versions:
    get:
      tags:
        - versions
      security:
        - userAuth: [admin, read-only-admin, user]
      operationId: ListSupportedOpenshiftVersions
      description: Retrieves the list of OpenShift supported versions.
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/openshift-versions'
        "503":
          description: Unavailable.
          schema:
            $ref: '#/definitions/error'

  /supported-operators:
    get:
      tags:
        - operators
      operationId: ListSupportedOperators
      description: Retrieves the list of supported operators.
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/supported-operators-list'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /supported-operators/{operator_type}:
    get:
      tags:
        - operators
      security:
        - userAuth: [admin, read-only-admin, user]
      description: Lists properties for an operator type.
      operationId: ListOperatorProperties
      parameters:
        - in: path
          name: operator_type
          description: The operator type.
          type: string
          enum: ['lso', 'ocs']
          required: true
      responses:
        "200":
          description: Success.
          schema:
            type: string
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /host_requirements:
    get:
      tags:
        - installer
      security:
        - userAuth: [admin, read-only-admin, user]
      description: Get minimum host requirements.
      operationId: GetHostRequirements
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/host-requirements'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "405":
          description: Method Not Allowed.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /add_hosts_clusters:
    post:
      tags:
        - installer
      description: Creates a new OpenShift cluster definition for adding nodes to and existing OCP cluster.
      operationId: RegisterAddHostsCluster
      parameters:
        - in: body
          name: new-add-hosts-cluster-params
          description: Parameters for creating a new cluster for adding nodes.
          required: true
          schema:
            $ref: '#/definitions/add-hosts-cluster-create-params'
      responses:
        "201":
          description: Success.
          schema:
            $ref: '#/definitions/cluster'
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /boot-files:
    get:
      tags:
        - bootfiles
      security: []
      description: Downloads files used for booting servers.
      operationId: DownloadBootFiles
      produces:
        - application/octet-stream
      parameters:
        - in: query
          name: openshift_version
          description: The corresponding OpenShift version for the boot file.
          type: string
          required: true
        - in: query
          name: file_type
          description: The file type to download.
          type: string
          enum: [initrd.img, rootfs.img, vmlinuz]
          required: true
      responses:
        "200":
          description: Success.
          schema:
            type: file
        "307":
          description: Redirect.
          headers:
            Location:
              type: string
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /assisted-service-iso:
    post:
      tags:
        - assisted-service-iso
      description: Creates ISO for the user and uploads to S3.
      operationId: CreateISOAndUploadToS3
      parameters:
        - in: body
          name: assisted-service-iso-create-params
          required: true
          description: Parameters for creating an Assisted Service ISO.
          schema:
            $ref: '#/definitions/assisted-service-iso-create-params'
      responses:
        "201":
          description: Success.
        "400":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /assisted-service-iso/data:
    get:
      tags:
        - assisted-service-iso
      description: Downloads the Assisted Service ISO.
      security:
        - userAuth: [admin, read-only-admin, user]
      operationId: DownloadISO
      produces:
        # application/vnd.efi.iso is not supported
        - application/octet-stream
      responses:
        "200":
          description: Success.
          schema:
            type: string
            format: binary
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

  /assisted-service-iso/presigned:
    get:
      tags:
        - assisted-service-iso
      security:
        - userAuth: [admin, read-only-admin, user]
      description: Retrieves a pre-signed S3 URL for downloading assisted-service ISO.
      operationId: GetPresignedForAssistedServiceISO
      responses:
        "200":
          description: Success.
          schema:
            $ref: '#/definitions/presigned'
        "401":
          description: Unauthorized.
          schema:
            $ref: '#/definitions/infra_error'
        "403":
          description: Forbidden.
          schema:
            $ref: '#/definitions/infra_error'
        "404":
          description: Error.
          schema:
            $ref: '#/definitions/error'
        "500":
          description: Error.
          schema:
            $ref: '#/definitions/error'

definitions:
  operator:
    type: object
    properties:
      operator_type:
        $ref: '#/definitions/operator-type'
      enabled:
        type: boolean
        default: false
      properties:
        type: string
        description: JSON-formatted string containing the properties for each operator

  cluster-operator:
    type: object
    properties:
      operator_type:
        $ref: '#/definitions/operator-type'
      enabled:
        type: boolean
        default: false
      status:
        type: string
      status_info:
        type: string
      properties:
        type: string
        description: JSON-formatted string containing the properties for each operator

  supported-operators-list:
    type: array
    items:
      $ref: '#/definitions/operator-type'

  list-managed-domains:
    type: array
    items:
      $ref: '#/definitions/managed-domain'

  managed-domain:
    type: object
    properties:
      domain:
        type: string
      provider:
        type: string
        enum: ['route53']

  list-versions:
    type: object
    properties:
      versions:
        $ref: '#/definitions/versions'
      release_tag:
        type: string

  versions:
    type: object
    additionalProperties:
      type: string

  openshift-versions:
    type: object
    additionalProperties:
      $ref: '#/definitions/openshift-version'

  host-requirements:
    type: object
    properties:
      master:
        $ref: '#/definitions/host-requirements-role'
      worker:
        $ref: '#/definitions/host-requirements-role'

  host-requirements-role:
    type: object
    properties:
      cpu_cores:
        type: integer
      ram_gib:
        type: integer
      disk_size_gb:
        type: integer

  event-list:
    type: array
    items:
      $ref: '#/definitions/event'

  event:
    type: object
    required:
      - cluster_id
      - severity
      - message
      - event_time
    properties:
      cluster_id:
        type: string
        format: uuid
        description: Unique identifier of the cluster this event relates to.
        x-go-custom-tag: gorm:"index"
      host_id:
        type: string
        format: uuid
        description: Unique identifier of the host this event relates to.
      severity:
        type: string
        enum: [info, warning, error, critical]
      message:
        type: string
        x-go-custom-tag: gorm:"type:varchar(4096)"
      event_time:
        type: string
        format: date-time
        x-go-custom-tag: gorm:"type:timestamp with time zone"
      request_id:
        type: string
        format: uuid
        description: Unique identifier of the request that caused this event to occur.

  image-create-params:
    type: object
    properties:
      ssh_public_key:
        type: string
        description: SSH public key for debugging the installation.
      static_ips_config:
        type: array
        items:
          $ref: '#/definitions/static-ip-config'
      image_type:
        type: string
        description: Type of image that should be generated.
        $ref: '#/definitions/image_type'

  assisted-service-iso-create-params:
    type: object
    properties:
      openshift_version:
        type: string
        description: Version of the OpenShift cluster.
      ssh_public_key:
        type: string
        description: SSH public key for debugging the installation.
      pull_secret:
        type: string
        description: The pull secret obtained from Red Hat OpenShift Cluster Manager at cloud.redhat.com/openshift/install/pull-secret.

  host-create-params:
    type: object
    required:
      - host_id
    properties:
      host_id:
        type: string
        format: uuid
      discovery_agent_version:
        type: string

  host_registration_response:
    allOf:
        - $ref: '#/definitions/host'
        - properties:
            next_step_runner_command:
              type: object
              description: Command for starting the next step runner
              properties:
                command:
                  type: string
                args:
                  type: array
                  items:
                    type: string
                retry_seconds:
                  type: integer
                  description: How long in seconds to wait before retrying registration if the command fails


  host:
    type: object
    required:
      - kind
      - id
      - href
      - status
      - status_info
    properties:
      kind:
        type: string
        enum: ['Host', 'AddToExistingClusterHost', 'AddToExistingClusterOCPHost']
        description: |
          Indicates the type of this object. Will be 'Host' if this is a complete object or 'HostLink' if it is just a link, or
          'AddToExistingClusterHost' for host being added to existing OCP cluster, or
          'AddToExistingClusterOCPHost' for host being added to existing OCP cluster via OCP AI cluster
      id:
        type: string
        format: uuid
        description: Unique identifier of the object.
        x-go-custom-tag: gorm:"primary_key"
      href:
        type: string
        description: Self link.
      cluster_id:
        type: string
        format: uuid
        x-go-custom-tag: gorm:"primary_key;foreignkey:Cluster"
        description: The cluster that this host is associated with.
      status:
        type: string
        enum:
          - discovering
          - known
          - disconnected
          - insufficient
          - disabled
          - preparing-for-installation
          - pending-for-input
          - installing
          - installing-in-progress
          - installing-pending-user-action
          - resetting-pending-user-action
          - installed
          - error
          - resetting
          - added-to-existing-cluster
          - cancelled
      status_info:
        type: string
        x-go-custom-tag: gorm:"type:varchar(2048)"
      validations_info:
        type: string
        description: JSON-formatted string containing the validation results for each validation id grouped by category (network, hardware, etc.)
        x-go-custom-tag: gorm:"type:varchar(2048)"
      status_updated_at:
        type: string
        format: date-time
        x-go-custom-tag: gorm:"type:timestamp with time zone"
        description: The last time that the host status was updated.
      progress:
        $ref: '#/definitions/host-progress-info'
        x-go-custom-tag: gorm:"embedded;embedded_prefix:progress_"
      stage_started_at:
        type: string
        format: date-time
        x-go-custom-tag: gorm:"type:timestamp with time zone"
        description: Time at which the current progress stage started.
      stage_updated_at:
        type: string
        format: date-time
        x-go-custom-tag: gorm:"type:timestamp with time zone"
        description: Time at which the current progress stage was last updated.
      progress_stages:
        type: array
        items:
          $ref: '#/definitions/host-stage'
        x-go-custom-tag: gorm:"-"
      connectivity:
        x-go-custom-tag: gorm:"type:text"
        type: string
      api_vip_connectivity:
        x-go-custom-tag: gorm:"type:text"
        type: string
      inventory:
        x-go-custom-tag: gorm:"type:text"
        type: string
      free_addresses:
        x-go-custom-tag: gorm:"type:text"
        type: string
      ntp_sources:
        x-go-custom-tag: gorm:"type:text"
        type: string
        description: The configured NTP sources on the host.
      role:
        $ref: '#/definitions/host-role'
      bootstrap:
        type: boolean
      logs_collected_at:
        type: string
        format: datetime
        x-go-custom-tag: gorm:"type:timestamp with time zone"
      installer_version:
        type: string
        description: Installer version.
      installation_disk_path:
        type: string
        description: Host installation path.
      updated_at:
        type: string
        format: date-time
        x-go-custom-tag: gorm:"type:timestamp with time zone"
      created_at:
        type: string
        format: date-time
        x-go-custom-tag: gorm:"type:timestamp with time zone"
      checked_in_at:
        type: string
        format: date-time
        x-go-custom-tag: gorm:"type:timestamp with time zone"
        description: The last time the host's agent communicated with the service.
      discovery_agent_version:
        type: string
      requested_hostname:
        type: string
      user_name:
        type: string
      deleted_at:
        type: string
        format: date-time
        description: The time that the host was deleted.
        x-go-custom-tag: gorm:"type:timestamp with time zone"
        x-nullable: true
      ignition_config_overrides:
        x-go-custom-tag: gorm:"type:text"
        type: string
        description: Json formatted string containing the user overrides for the host's pointer ignition
        example: '{"ignition": {"version": "3.1.0"}, "storage": {"files": [{"path": "/tmp/example", "contents": {"source": "data:text/plain;base64,aGVscGltdHJhcHBlZGluYXN3YWdnZXJzcGVj"}}]}}'
      installer_args:
        type: string
      machine_config_pool_name:
        type: string


  installer-args-params:
    type: object
    properties:
      args:
        description: List of additional arguments passed to coreos-installer
        example: ["--append-karg", "ip=192.0.2.2::192.0.2.254:255.255.255.0:core0.example.com:enp1s0:none", "--save-partindex", "1", "-n"]
        type: array
        items:
          type: string

  steps:
    type: object
    properties:
      next_instruction_seconds:
        type: integer
      post_step_action:
        type: string
        description: What to do after finishing to run step instructions
        default: continue
        enum:
        - exit
        - continue
      instructions:
        type: array
        items:
          $ref: '#/definitions/step'


  step-type:
    type: string
    enum:
      - connectivity-check
      - execute
      - inventory
      - install
      - free-network-addresses
      - reset-installation
      - dhcp-lease-allocate
      - api-vip-connectivity-check
      - ntp-synchronizer
      - fio-perf-check
      - container-image-availability

  step:
    type: object
    properties:
      step_type:
        $ref: '#/definitions/step-type'
      step_id:
        type: string
      command:
        type: string
      args:
        type: array
        items:
          type: string

  steps-reply:
    type: array
    items:
      $ref: '#/definitions/step-reply'

  step-reply:
    type: object
    properties:
      step_type:
        $ref: '#/definitions/step-type'
      step_id:
        type: string
      exit_code:
        type: integer
      output:
        type: string
      error:
        type: string

  connectivity-check-nic:
    type: object
    properties:
      name:
        type: string
      mac:
        type: string
      ip_addresses:
        type: array
        items:
          type: string

  connectivity-check-host:
    type: object
    properties:
      host_id:
        type: string
        format: uuid
      nics:
        type: array
        items:
          $ref: '#/definitions/connectivity-check-nic'

  connectivity-check-params:
    type: array
    items:
      $ref: '#/definitions/connectivity-check-host'

  host-list:
    type: array
    items:
      $ref: '#/definitions/host'

  cluster-create-params:
    type: object
    required:
      - name
      - openshift_version
      - pull_secret
    properties:
      name:
        type: string
        minLength: 1
        maxLength: 54
        description: Name of the OpenShift cluster.
      high_availability_mode:
        type: string
        enum: ['Full', 'None']
        default: 'Full'
        description: |
          Guaranteed availability of the installed cluster. 'Full' installs a Highly-Available cluster
          over multiple master nodes whereas 'None' installs a full cluster over one node.
      openshift_version:
        type: string
        description: Version of the OpenShift cluster.
      base_dns_domain:
        type: string
        description: Base domain of the cluster. All DNS records must be sub-domains of this base and include the cluster name.
      cluster_network_cidr:
        type: string
        description: IP address block from which Pod IPs are allocated. This block must not overlap with existing physical networks. These IP addresses are used for the Pod network, and if you need to access the Pods from an external network, configure load balancers and routers to manage the traffic.
        pattern: '^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/(?:(?:[0-9])|(?:[1-2][0-9])|(?:3[0-2])))|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,})/(?:(?:[0-9])|(?:[1-9][0-9])|(?:1[0-1][0-9])|(?:12[0-8])))$'
        default: "10.128.0.0/14"
      cluster_network_host_prefix:
        type: integer
        description: The subnet prefix length to assign to each individual node. For example, if clusterNetworkHostPrefix is set to 23, then each node is assigned a /23 subnet out of the given cidr (clusterNetworkCIDR), which allows for 510 (2^(32 - 23) - 2) pod IPs addresses. If you are required to provide access to nodes from an external network, configure load balancers and routers to manage the traffic.
        minimum: 1
        maximum: 128
        default: 23
      service_network_cidr:
        type: string
        description: The IP address pool to use for service IP addresses. You can enter only one IP address pool. If you need to access the services from an external network, configure load balancers and routers to manage the traffic.
        pattern: '^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/(?:(?:[0-9])|(?:[1-2][0-9])|(?:3[0-2])))|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,})/(?:(?:[0-9])|(?:[1-9][0-9])|(?:1[0-1][0-9])|(?:12[0-8])))$'
        default: "172.30.0.0/16"
      ingress_vip:
        type: string
        pattern: '^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3})|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,}))$'
        description: The virtual IP used for cluster ingress traffic.
      pull_secret:
        type: string
        description: The pull secret obtained from Red Hat OpenShift Cluster Manager at cloud.redhat.com/openshift/install/pull-secret.
      ssh_public_key:
        type: string
        description: SSH public key for debugging OpenShift nodes.
      vip_dhcp_allocation:
        type: boolean
        description: Indicate if virtual IP DHCP allocation mode is enabled.
        x-nullable: true
        default: true
      http_proxy:
        type: string
        description: |
          A proxy URL to use for creating HTTP connections outside the cluster.
          http://\<username\>:\<pswd\>@\<ip\>:\<port\>
        x-nullable: true
      https_proxy:
        type: string
        description: |
          A proxy URL to use for creating HTTPS connections outside the cluster.
          http://\<username\>:\<pswd\>@\<ip\>:\<port\>
        x-nullable: true
      no_proxy:
        type: string
        description: An "*" or a comma-separated list of destination domain names, domains, IP addresses, or other network CIDRs to exclude from proxying.
        x-nullable: true
      user_managed_networking:
        type: boolean
        description: Indicate if the networking is managed by the user.
        x-nullable: true
        default: false
      additional_ntp_source:
        type: string
        description: A comma-separated list of NTP sources (name or IP) going to be added to all the hosts.
        x-nullable: true
      operators:
        $ref: '#/definitions/list-operators'

  cluster-update-params:
    type: object
    properties:
      name:
        type: string
        minLength: 1
        maxLength: 54
        description: OpenShift cluster name.
        x-nullable: true
      base_dns_domain:
        type: string
        description: Base domain of the cluster. All DNS records must be sub-domains of this base and include the cluster name.
        x-nullable: true
      cluster_network_cidr:
        type: string
        description: IP address block from which Pod IPs are allocated. This block must not overlap with existing physical networks. These IP addresses are used for the Pod network, and if you need to access the Pods from an external network, configure load balancers and routers to manage the traffic.
        pattern: '^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/(?:(?:[0-9])|(?:[1-2][0-9])|(?:3[0-2])))|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,})/(?:(?:[0-9])|(?:[1-9][0-9])|(?:1[0-1][0-9])|(?:12[0-8])))$'
        x-nullable: true
      cluster_network_host_prefix:
        type: integer
        description: The subnet prefix length to assign to each individual node. For example, if clusterNetworkHostPrefix is set to 23, then each node is assigned a /23 subnet out of the given cidr (clusterNetworkCIDR), which allows for 510 (2^(32 - 23) - 2) pod IPs addresses. If you are required to provide access to nodes from an external network, configure load balancers and routers to manage the traffic.
        minimum: 1
        maximum: 128
        x-nullable: true
      service_network_cidr:
        type: string
        description: The IP address pool to use for service IP addresses. You can enter only one IP address pool. If you need to access the services from an external network, configure load balancers and routers to manage the traffic.
        pattern: '^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/(?:(?:[0-9])|(?:[1-2][0-9])|(?:3[0-2])))|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,})/(?:(?:[0-9])|(?:[1-9][0-9])|(?:1[0-1][0-9])|(?:12[0-8])))$'
        x-nullable: true
      api_vip:
        type: string
        pattern: '^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3})|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,}))?$'
        description: The virtual IP used to reach the OpenShift cluster's API.
        x-nullable: true
      ingress_vip:
        type: string
        pattern: '^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3})|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,}))?$'
        description: The virtual IP used for cluster ingress traffic.
        x-nullable: true
      api_vip_dns_name:
        type: string
        description: The domain name used to reach the OpenShift cluster API.
        x-nullable: true
      machine_network_cidr:
        type: string
        description: A CIDR that all hosts belonging to the cluster should have an interfaces with IP address that belongs to this CIDR. The api_vip belongs to this CIDR.
        pattern: '^(?:(?:(?:[0-9]{1,3}\.){3}[0-9]{1,3}\/(?:(?:[0-9])|(?:[1-2][0-9])|(?:3[0-2])))|(?:(?:[0-9a-fA-F]*:[0-9a-fA-F]*){2,})/(?:(?:[0-9])|(?:[1-9][0-9])|(?:1[0-1][0-9])|(?:12[0-8])))$'
        x-nullable: true
      pull_secret:
        type: string
        description: The pull secret obtained from Red Hat OpenShift Cluster Manager at cloud.redhat.com/openshift/install/pull-secret.
        x-nullable: true
      ssh_public_key:
        type: string
        description: SSH public key for debugging OpenShift nodes.
        x-nullable: true
      vip_dhcp_allocation:
        type: boolean
        description: Indicate if virtual IP DHCP allocation mode is enabled.
        x-nullable: true
      http_proxy:
        type: string
        description: |
          A proxy URL to use for creating HTTP connections outside the cluster.
          http://\<username\>:\<pswd\>@\<ip\>:\<port\>
        x-nullable: true
      https_proxy:
        type: string
        description: |
          A proxy URL to use for creating HTTPS connections outside the cluster.
          http://\<username\>:\<pswd\>@\<ip\>:\<port\>
        x-nullable: true
      no_proxy:
        type: string
        description: An "*" or a comma-separated list of destination domain names, domains, IP addresses, or other network CIDRs to exclude from proxying.
        x-nullable: true
      hosts_roles:
        type: array
        description: The desired role for hosts associated with the cluster.
        x-nullable: true
        items:
          type: object
          properties:
            id:
              type: string
              format: uuid
            role:
              $ref: '#/definitions/host-role-update-params'
      hosts_names:
        type: array
        description: The desired hostname for hosts associated with the cluster.
        x-nullable: true
        items:
          type: object
          properties:
            id:
              type: string
              format: uuid
            hostname:
              type: string
      disks_selected_config:
        type: array
        x-nullable: true
        items:
          type: object
          properties:
            id:
              type: string
              format: uuid
            disks_config:
              description: The desired disks parameters (such as the disk's role).
              type: array
              items:
                $ref: '#/definitions/disk-config-params'
      hosts_machine_config_pool_names:
        type: array
        description: The desired machine config pool for hosts associated with the cluster.
        x-nullable: true
        items:
          type: object
          properties:
            id:
              type: string
              format: uuid
            machine_config_pool_name:
              type: string
      user_managed_networking:
        type: boolean
        description: Indicate if the networking is managed by the user.
        x-nullable: true
      additional_ntp_source:
        type: string
[...]
