apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: infrastructure-operator
  name: assisted-installer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: infrastructure-operator
  namespace: assisted-installer
  labels:
    control-plane: infrastructure-operator
spec:
  selector:
    matchLabels:
      control-plane: infrastructure-operator
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: infrastructure-operator
    spec:
      containers:
      - command:
        - /assisted-service-operator
        args:
        - --leader-elect
        image: quay.io/edge-infrastructure/assisted-service:ocm-2.13
        name: manager
        env:
          - name: SERVICE_IMAGE
            value: quay.io/edge-infrastructure/assisted-service:ocm-2.13
          - name: SERVICE_EL8_IMAGE
            value: quay.io/edge-infrastructure/assisted-service-el8:ocm-2.13
          - name: IMAGE_SERVICE_IMAGE
            value: quay.io/edge-infrastructure/assisted-image-service:ocm-2.13
          - name: DATABASE_IMAGE
            value: quay.io/sclorg/postgresql-12-c8s:latest
          - name: AGENT_IMAGE
            value: quay.io/edge-infrastructure/assisted-installer-agent:ocm-2.13
          - name: CONTROLLER_IMAGE
            value: quay.io/edge-infrastructure/assisted-installer-controller:ocm-2.13
          - name: INSTALLER_IMAGE
            value: quay.io/edge-infrastructure/assisted-installer:ocm-2.13
          - name: OS_IMAGES
            value: '[{"openshift_version":"4.16","cpu_architecture":"x86_64","url":"https://mirror.openshift.com/pub/openshift-v4/x86_64/dependencies/rhcos/4.16/4.16.51/rhcos-4.16.51-x86_64-live.x86_64.iso","version":"416.94.202510081640-0"},{"openshift_version":"4.16","cpu_architecture":"arm64","url":"https://mirror.openshift.com/pub/openshift-v4/aarch64/dependencies/rhcos/4.16/4.16.36/rhcos-4.16.36-aarch64-live.aarch64.iso","version":"416.94.202501270445-0"},{"openshift_version":"4.16","cpu_architecture":"ppc64le","url":"https://mirror.openshift.com/pub/openshift-v4/ppc64le/dependencies/rhcos/4.16/4.16.51/rhcos-4.16.51-ppc64le-live.ppc64le.iso","version":"416.94.202510081640-0"},{"openshift_version":"4.16","cpu_architecture":"s390x","url":"https://mirror.openshift.com/pub/openshift-v4/s390x/dependencies/rhcos/4.16/4.16.51/rhcos-4.16.51-s390x-live.s390x.iso","version":"416.94.202510081640-0"},{"openshift_version":"4.17","cpu_architecture":"x86_64","url":"https://mirror.openshift.com/pub/openshift-v4/x86_64/dependencies/rhcos/4.17/4.17.42/rhcos-4.17.42-x86_64-live.x86_64.iso","version":"417.94.202507291008-0"},{"openshift_version":"4.17","cpu_architecture":"arm64","url":"https://mirror.openshift.com/pub/openshift-v4/aarch64/dependencies/rhcos/4.17/4.17.38/rhcos-4.17.38-aarch64-live.aarch64.iso","version":"417.94.202507291008-0"},{"openshift_version":"4.17","cpu_architecture":"ppc64le","url":"https://mirror.openshift.com/pub/openshift-v4/ppc64le/dependencies/rhcos/4.17/4.17.41/rhcos-4.17.41-ppc64le-live.ppc64le.iso","version":"417.94.202507291008-0"},{"openshift_version":"4.17","cpu_architecture":"s390x","url":"https://mirror.openshift.com/pub/openshift-v4/s390x/dependencies/rhcos/4.17/4.17.41/rhcos-4.17.41-s390x-live.s390x.iso","version":"417.94.202507291008-0"},{"openshift_version":"4.18","cpu_architecture":"x86_64","url":"https://mirror.openshift.com/pub/openshift-v4/x86_64/dependencies/rhcos/4.18/4.18.30/rhcos-4.18.30-x86_64-live.x86_64.iso","version":"418.94.202511191518-0"},{"openshift_version":"4.18","cpu_architecture":"arm64","url":"https://mirror.openshift.com/pub/openshift-v4/aarch64/dependencies/rhcos/4.18/4.18.30/rhcos-4.18.30-aarch64-live.aarch64.iso","version":"418.94.202511191518-0"},{"openshift_version":"4.18","cpu_architecture":"ppc64le","url":"https://mirror.openshift.com/pub/openshift-v4/ppc64le/dependencies/rhcos/4.18/4.18.30/rhcos-4.18.30-ppc64le-live.ppc64le.iso","version":"418.94.202511191518-0"},{"openshift_version":"4.18","cpu_architecture":"s390x","url":"https://mirror.openshift.com/pub/openshift-v4/s390x/dependencies/rhcos/4.18/4.18.30/rhcos-4.18.30-s390x-live.s390x.iso","version":"418.94.202511191518-0"}]' # os images
          - name: SERVICE_ACCOUNT_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.serviceAccountName
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
        securityContext:
          allowPrivilegeEscalation: false
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          requests:
            cpu: 100m
            memory: 200Mi
      serviceAccountName: assisted-service
      terminationGracePeriodSeconds: 10
