apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: infrastructure-operator
  name: assisted-installer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: infrastructure-operator
  namespace: assisted-installer
  labels:
    control-plane: infrastructure-operator
spec:
  selector:
    matchLabels:
      control-plane: infrastructure-operator
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: infrastructure-operator
    spec:
      containers:
      - command:
        - /assisted-service-operator
        args:
        - --leader-elect
        image: quay.io/edge-infrastructure/assisted-service:ocm-2.15
        name: manager
        env:
          - name: SERVICE_IMAGE
            value: quay.io/edge-infrastructure/assisted-service:ocm-2.15
          - name: IMAGE_SERVICE_IMAGE
            value: quay.io/edge-infrastructure/assisted-image-service:ocm-2.15
          - name: DATABASE_IMAGE
            value: quay.io/sclorg/postgresql-12-c8s:latest
          - name: AGENT_IMAGE
            value: quay.io/edge-infrastructure/assisted-installer-agent:ocm-2.15
          - name: CONTROLLER_IMAGE
            value: quay.io/edge-infrastructure/assisted-installer-controller:ocm-2.15
          - name: INSTALLER_IMAGE
            value: quay.io/edge-infrastructure/assisted-installer:ocm-2.15
          - name: OS_IMAGES
            value: '[{"openshift_version":"4.18","cpu_architecture":"x86_64","url":"https://mirror.openshift.com/pub/openshift-v4/x86_64/dependencies/rhcos/4.18/4.18.27/rhcos-4.18.27-x86_64-live.x86_64.iso","version":"418.94.202510081222-0"},{"openshift_version":"4.18","cpu_architecture":"arm64","url":"https://mirror.openshift.com/pub/openshift-v4/aarch64/dependencies/rhcos/4.18/4.18.27/rhcos-4.18.27-aarch64-live.aarch64.iso","version":"418.94.202510081222-0"},{"openshift_version":"4.18","cpu_architecture":"ppc64le","url":"https://mirror.openshift.com/pub/openshift-v4/ppc64le/dependencies/rhcos/4.18/4.18.27/rhcos-4.18.27-ppc64le-live.ppc64le.iso","version":"418.94.202510081222-0"},{"openshift_version":"4.18","cpu_architecture":"s390x","url":"https://mirror.openshift.com/pub/openshift-v4/s390x/dependencies/rhcos/4.18/4.18.27/rhcos-4.18.27-s390x-live.s390x.iso","version":"418.94.202510081222-0"},{"openshift_version":"4.19","cpu_architecture":"x86_64","url":"https://mirror.openshift.com/pub/openshift-v4/x86_64/dependencies/rhcos/4.19/4.19.19/rhcos-4.19.19-x86_64-live-iso.x86_64.iso","version":"9.6.20251023-0"},{"openshift_version":"4.19","cpu_architecture":"arm64","url":"https://mirror.openshift.com/pub/openshift-v4/aarch64/dependencies/rhcos/4.19/4.19.19/rhcos-4.19.19-aarch64-live-iso.aarch64.iso","version":"9.6.20251023-0"},{"openshift_version":"4.19","cpu_architecture":"ppc64le","url":"https://mirror.openshift.com/pub/openshift-v4/ppc64le/dependencies/rhcos/4.19/4.19.19/rhcos-4.19.19-ppc64le-live-iso.ppc64le.iso","version":"9.6.20251023-0"},{"openshift_version":"4.19","cpu_architecture":"s390x","url":"https://mirror.openshift.com/pub/openshift-v4/s390x/dependencies/rhcos/4.19/4.19.19/rhcos-4.19.19-s390x-live-iso.s390x.iso","version":"9.6.20251023-0"},{"openshift_version":"4.20","cpu_architecture":"x86_64","url":"https://mirror.openshift.com/pub/openshift-v4/x86_64/dependencies/rhcos/4.20/4.20.0/rhcos-4.20.0-x86_64-live-iso.x86_64.iso","version":"9.6.20250826-1"},{"openshift_version":"4.20","cpu_architecture":"arm64","url":"https://mirror.openshift.com/pub/openshift-v4/aarch64/dependencies/rhcos/4.20/4.20.0/rhcos-4.20.0-aarch64-live-iso.aarch64.iso","version":"9.6.20250826-1"},{"openshift_version":"4.20","cpu_architecture":"ppc64le","url":"https://mirror.openshift.com/pub/openshift-v4/ppc64le/dependencies/rhcos/4.20/4.20.0/rhcos-4.20.0-ppc64le-live-iso.ppc64le.iso","version":"9.6.20250826-1"},{"openshift_version":"4.20","cpu_architecture":"s390x","url":"https://mirror.openshift.com/pub/openshift-v4/s390x/dependencies/rhcos/4.20/4.20.0/rhcos-4.20.0-s390x-live-iso.s390x.iso","version":"9.6.20250826-1"},{"openshift_version":"4.21","cpu_architecture":"x86_64","url":"https://mirror.openshift.com/pub/openshift-v4/x86_64/dependencies/rhcos/pre-release/4.21.0-ec.3/rhcos-4.21.0-ec.3-x86_64-live-iso.x86_64.iso","version":"9.6.20251023-0"},{"openshift_version":"4.21","cpu_architecture":"arm64","url":"https://mirror.openshift.com/pub/openshift-v4/aarch64/dependencies/rhcos/pre-release/4.21.0-ec.3/rhcos-4.21.0-ec.3-aarch64-live-iso.aarch64.iso","version":"9.6.20251023-0"},{"openshift_version":"4.21","cpu_architecture":"ppc64le","url":"https://mirror.openshift.com/pub/openshift-v4/ppc64le/dependencies/rhcos/pre-release/4.21.0-ec.3/rhcos-4.21.0-ec.3-ppc64le-live-iso.ppc64le.iso","version":"9.6.20251023-0"},{"openshift_version":"4.21","cpu_architecture":"s390x","url":"https://mirror.openshift.com/pub/openshift-v4/s390x/dependencies/rhcos/pre-release/4.21.0-ec.3/rhcos-4.21.0-ec.3-s390x-live-iso.s390x.iso","version":"9.6.20251023-0"}]' # os images
          - name: SERVICE_ACCOUNT_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.serviceAccountName
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
        securityContext:
          allowPrivilegeEscalation: false
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          requests:
            cpu: 100m
            memory: 200Mi
      serviceAccountName: assisted-service
      terminationGracePeriodSeconds: 10
