apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  annotations:
    infraenv.agent-install.openshift.io/ironic-agent-image-override: '{{ ironic_image }}'
  name: '{{ infraenv_name }}'
  namespace: '{{ spoke_namespace }}'
spec:
  pullSecretRef:
    name: '{{ pull_secret_name }}'
  sshAuthorizedKey: '{{ ssh_public_key }}'
