apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
    categories: OpenShift Optional
    containerImage: quay.io/edge-infrastructure/assisted-service:latest
    createdAt: ""
    description: The Infrastructure Operator for Red Hat OpenShift is responsible
      for managing the deployment of the Assisted Service.
    olm.skipRange: '>=0.0.1 <99.0.0-unreleased'
    operatorframework.io/suggested-namespace: assisted-installer
    operators.operatorframework.io/builder: operator-sdk-v1.3.0
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
    repository: https://github.com/openshift/assisted-service
    support: https://github.com/openshift/assisted-service/issues/new
  name: assisted-service-operator.v99.0.0-unreleased
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: AgentServiceConfig represents an Assisted Service deployment. Only
        an AgentServiceConfig with name="agent" will be reconciled. All other names
        will be rejected.
      displayName: Agent Service Config
      kind: AgentServiceConfig
      name: agentserviceconfigs.agent-install.openshift.io
      specDescriptors:
      - description: OSImageAdditionalParamsRef is a reference to a secret containing
          a headers and query parameters to be used during OS image fetch.
        displayName: OS Images additional parameters reference
        path: OSImageAdditionalParamsRef
      - description: OSImageCACertRef is a reference to a config map containing a
          certificate authority certificate this is an optional certificate to allow
          a user to add a certificate authority for a HTTPS source of images this
          certificate will be used by the assisted-image-service when pulling OS images.
        displayName: OS Image CA Cert ConfigMap reference
        path: OSImageCACertRef
      - description: DatabaseStorage defines the spec of the PersistentVolumeClaim
          to be created for the database's filesystem. With respect to the resource
          requests, minimum 10GiB is recommended.
        displayName: Storage for database
        path: databaseStorage
      - description: FileSystemStorage defines the spec of the PersistentVolumeClaim
          to be created for the assisted-service's filesystem (logs, etc). With respect
          to the resource requests, the amount of filesystem storage consumed will
          depend largely on the number of clusters created (~200MB per cluster and
          ~2-3GiB per supported OpenShift version). Minimum 100GiB recommended.
        displayName: Storage for service filesystem
        path: filesystemStorage
      - description: 'IPXEHTTPRoute is controlling whether the operator is creating
          plain HTTP routes iPXE hosts may not work with router cyphers and may access
          artifacts via HTTP only This setting accepts "enabled,disabled", defaults
          to disabled. Empty value defaults to disabled The following endpoints would
          be exposed via http: * api/assisted-installer/v2/infra-envs/<id>/downloads/files?file_name=ipxe-script
          in assisted-service * boot-artifacts/ and images/<infra-enf id>/pxe-initrd
          in -image-service'
        displayName: Expose IPXE HTTP route
        path: iPXEHTTPRoute
      - description: ImageStorage defines the spec of the PersistentVolumeClaim to
          be created for each replica of the image service. If a PersistentVolumeClaim
          is provided 2GiB per OSImage entry is required
        displayName: Storage for images
        path: imageStorage
      - description: Ingress contains configuration for the ingress resources. Has
          no effect when running on an OpenShift cluster.
        displayName: Ingress
        path: ingress
      - description: ClassName is the name of the ingress class to be used when configuring
          ingress resources. Has no effect when running on an OpenShift cluster.
        displayName: Class Name
        path: ingress.ClassName
      - description: AssistedServiceHostname is the hostname to be assigned to the
          assisted-service ingress. Has no effect when running on an OpenShift cluster.
        displayName: Assisted Service hostname
        path: ingress.assistedServiceHostname
      - description: ImageServiceHostname is the hostname to be assigned to the assisted-image-service
          ingress. Has no effect when running on an OpenShift cluster.
        displayName: Assisted Image Service hostname
        path: ingress.imageServiceHostname
      - description: 'MirrorRegistryRef is the reference to the configmap that contains
          mirror registry configuration In case no configuration is need, this field
          will be nil. ConfigMap must contain to entries: ca-bundle.crt - hold the
          contents of mirror registry certificate/s registries.conf - holds the content
          of registries.conf file configured with mirror registries'
        displayName: Mirror Registry and Certificate ConfigMap Name
        path: mirrorRegistryRef
      - description: MustGatherImages defines a collection of operator related must-gather
          images that are used if one the operators fails to be successfully deployed
        displayName: Must-Gather Images
        path: mustGatherImages
      - description: OSImages defines a collection of Operating System images (ie.
          RHCOS images) that the assisted-service should use as the base when generating
          discovery ISOs.
        displayName: Operating System Images
        path: osImages
      - description: UnauthenticatedRegistries is a list of registries from which
          container images can be pulled without authentication. They will be appended
          to the default list (quay.io, registry.svc.ci.openshift.org). Any registry
          on this list will not require credentials to be in the pull secret validated
          by the assisted-service.
        displayName: List of container registries without authentication
        path: unauthenticatedRegistries
      version: v1beta1
    - displayName: Agent
      kind: Agent
      name: agents.agent-install.openshift.io
      version: v1beta1
    - displayName: InfraEnv
      kind: InfraEnv
      name: infraenvs.agent-install.openshift.io
      version: v1beta1
    - displayName: NMStateConfig
      kind: NMStateConfig
      name: nmstateconfigs.agent-install.openshift.io
      version: v1beta1
  description: |-
    The Infrastructure Operator for Red Hat OpenShift is responsible for managing
    the deployment of the Assisted Service. Assisted Service is used to orchestrate
    baremetal OpenShift installations.

    The Assisted Service can currently install clusters with highly-available
    control planes (3 hosts and above) and can also install Single-Node
    OpenShift (SNO).  Highly available clusters are configured to use
    OpenShift's `baremetal` platform (typically used in
    [bare metal IPI deployments](https://docs.openshift.com/container-platform/4.7/installing/installing_bare_metal_ipi/ipi-install-overview.html)),
    while SNO uses `none` (typically used in
    [UPI deployments](https://docs.openshift.com/container-platform/4.7/installing/installing_platform_agnostic/installing-platform-agnostic.html)).

    When creating the AgentServiceConfig CR. It is important to note that the
    controller will only ever reconcile an AgentServiceConfig named "agent",
    any other name will be ignored.
  displayName: Infrastructure Operator for Red Hat OpenShift
  icon:
  - base64data: PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOTIgMTQ1Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2UwMDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPlJlZEhhdC1Mb2dvLUhhdC1Db2xvcjwvdGl0bGU+PHBhdGggZD0iTTE1Ny43Nyw2Mi42MWExNCwxNCwwLDAsMSwuMzEsMy40MmMwLDE0Ljg4LTE4LjEsMTcuNDYtMzAuNjEsMTcuNDZDNzguODMsODMuNDksNDIuNTMsNTMuMjYsNDIuNTMsNDRhNi40Myw2LjQzLDAsMCwxLC4yMi0xLjk0bC0zLjY2LDkuMDZhMTguNDUsMTguNDUsMCwwLDAtMS41MSw3LjMzYzAsMTguMTEsNDEsNDUuNDgsODcuNzQsNDUuNDgsMjAuNjksMCwzNi40My03Ljc2LDM2LjQzLTIxLjc3LDAtMS4wOCwwLTEuOTQtMS43My0xMC4xM1oiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMjcuNDcsODMuNDljMTIuNTEsMCwzMC42MS0yLjU4LDMwLjYxLTE3LjQ2YTE0LDE0LDAsMCwwLS4zMS0zLjQybC03LjQ1LTMyLjM2Yy0xLjcyLTcuMTItMy4yMy0xMC4zNS0xNS43My0xNi42QzEyNC44OSw4LjY5LDEwMy43Ni41LDk3LjUxLjUsOTEuNjkuNSw5MCw4LDgzLjA2LDhjLTYuNjgsMC0xMS42NC01LjYtMTcuODktNS42LTYsMC05LjkxLDQuMDktMTIuOTMsMTIuNSwwLDAtOC40MSwyMy43Mi05LjQ5LDI3LjE2QTYuNDMsNi40MywwLDAsMCw0Mi41Myw0NGMwLDkuMjIsMzYuMywzOS40NSw4NC45NCwzOS40NU0xNjAsNzIuMDdjMS43Myw4LjE5LDEuNzMsOS4wNSwxLjczLDEwLjEzLDAsMTQtMTUuNzQsMjEuNzctMzYuNDMsMjEuNzdDNzguNTQsMTA0LDM3LjU4LDc2LjYsMzcuNTgsNTguNDlhMTguNDUsMTguNDUsMCwwLDEsMS41MS03LjMzQzIyLjI3LDUyLC41LDU1LC41LDc0LjIyYzAsMzEuNDgsNzQuNTksNzAuMjgsMTMzLjY1LDcwLjI4LDQ1LjI4LDAsNTYuNy0yMC40OCw1Ni43LTM2LjY1LDAtMTIuNzItMTEtMjcuMTYtMzAuODMtMzUuNzgiLz48L3N2Zz4=
    mediatype: image/svg+xml
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: false
    type: AllNamespaces
  keywords:
  - assisted-service
  - assisted-installer
  - OpenShift
  links:
  - name: Assisted Service
    url: https://github.com/openshift/assisted-service
  - name: Assisted Image Service
    url: https://github.com/openshift/assisted-image-service
  - name: Assisted Installer
    url: https://github.com/openshift/assisted-installer
  - name: Assisted Installer Controller
    url: https://github.com/openshift/assisted-installer
  - name: Assisted Installer Agent
    url: https://github.com/openshift/assisted-installer-agent
  maintainers:
  - email: support@redhat.com
    name: Support
  maturity: alpha
  provider:
    name: Red Hat
  relatedImages:
  - image: quay.io/edge-infrastructure/assisted-service:latest
    name: controller
  - image: quay.io/edge-infrastructure/assisted-image-service:latest
    name: image-service
  - image: quay.io/sclorg/postgresql-12-c8s:latest
    name: postgresql
  - image: quay.io/edge-infrastructure/assisted-installer:latest
    name: installer
  - image: quay.io/edge-infrastructure/assisted-installer-agent:latest
    name: agent
  - image: quay.io/edge-infrastructure/assisted-installer-controller:latest
    name: reporter
  version: 99.0.0-unreleased
