apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
           "apiVersion": "adi.io.my.domain/v1alpha1",
           "kind": "AgentServiceConfig",
           "metadata": {
              "namespace": "assisted-installer",
              "name": "agent"
           },
           "spec": {
              "databaseStorage": {
                 "accessModes": [
                    "ReadWriteOnce"
                 ],
                 "resources": {
                    "requests": {
                       "storage": "10Gi"
                    }
                 }
              },
              "filesystemStorage": {
                 "accessModes": [
                    "ReadWriteOnce"
                 ],
                 "resources": {
                    "requests": {
                       "storage": "100Gi"
                    }
                 }
              }
           }
        }
      ]
    capabilities: Basic Install
    description: Assisted Service is used to orchestrate baremetal OpenShift installations.
    operators.operatorframework.io/builder: operator-sdk-v1.3.0
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
    "operatorframework.io/suggested-namespace": assisted-installer
    support: 'https://github.com/openshift/assisted-service/issues/new'
    repository: 'https://github.com/openshift/assisted-service'
  name: assisted-service-operator.v0.0.1
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - kind: Agents
      name: agents.adi.io.my.domain
      version: v1alpha1
    - kind: InstallEnv
      name: installenvs.adi.io.my.domain
      version: v1alpha1
  description: |-
    Assisted Service is used to orchestrate baremetal OpenShift installations.

    When creating the AgentServiceConfig CR. It is important to note that the
    controller will only ever reconcile an AgentServiceConfig named "agent".
    No other name will be accepted.
  displayName: Assisted Service Operator
  icon:
    - base64data: >-
        PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOTIgMTQ1Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2UwMDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPlJlZEhhdC1Mb2dvLUhhdC1Db2xvcjwvdGl0bGU+PHBhdGggZD0iTTE1Ny43Nyw2Mi42MWExNCwxNCwwLDAsMSwuMzEsMy40MmMwLDE0Ljg4LTE4LjEsMTcuNDYtMzAuNjEsMTcuNDZDNzguODMsODMuNDksNDIuNTMsNTMuMjYsNDIuNTMsNDRhNi40Myw2LjQzLDAsMCwxLC4yMi0xLjk0bC0zLjY2LDkuMDZhMTguNDUsMTguNDUsMCwwLDAtMS41MSw3LjMzYzAsMTguMTEsNDEsNDUuNDgsODcuNzQsNDUuNDgsMjAuNjksMCwzNi40My03Ljc2LDM2LjQzLTIxLjc3LDAtMS4wOCwwLTEuOTQtMS43My0xMC4xM1oiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMjcuNDcsODMuNDljMTIuNTEsMCwzMC42MS0yLjU4LDMwLjYxLTE3LjQ2YTE0LDE0LDAsMCwwLS4zMS0zLjQybC03LjQ1LTMyLjM2Yy0xLjcyLTcuMTItMy4yMy0xMC4zNS0xNS43My0xNi42QzEyNC44OSw4LjY5LDEwMy43Ni41LDk3LjUxLjUsOTEuNjkuNSw5MCw4LDgzLjA2LDhjLTYuNjgsMC0xMS42NC01LjYtMTcuODktNS42LTYsMC05LjkxLDQuMDktMTIuOTMsMTIuNSwwLDAtOC40MSwyMy43Mi05LjQ5LDI3LjE2QTYuNDMsNi40MywwLDAsMCw0Mi41Myw0NGMwLDkuMjIsMzYuMywzOS40NSw4NC45NCwzOS40NU0xNjAsNzIuMDdjMS43Myw4LjE5LDEuNzMsOS4wNSwxLjczLDEwLjEzLDAsMTQtMTUuNzQsMjEuNzctMzYuNDMsMjEuNzdDNzguNTQsMTA0LDM3LjU4LDc2LjYsMzcuNTgsNTguNDlhMTguNDUsMTguNDUsMCwwLDEsMS41MS03LjMzQzIyLjI3LDUyLC41LDU1LC41LDc0LjIyYzAsMzEuNDgsNzQuNTksNzAuMjgsMTMzLjY1LDcwLjI4LDQ1LjI4LDAsNTYuNy0yMC40OCw1Ni43LTM2LjY1LDAtMTIuNzItMTEtMjcuMTYtMzAuODMtMzUuNzgiLz48L3N2Zz4=
      mediatype: image/svg+xml
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: false
    type: AllNamespaces
  keywords:
  - assisted-service
  - assisted-installer
  - OpenShift
  links:
  - name: Assisted Service
    url: https://github.com/openshift/assisted-service
  maturity: alpha
  maintainers:
    - name: Support
      email: support@redhat.com
  provider:
    name: Red Hat
  version: 0.0.1
