[Unit]
Description=Configure secondary NIC on OCI when using iSSCI boot drive
After=network-online.target

[Service]
ExecStart=/usr/local/bin/oci-configure-secondary-nic.sh
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
