variant: fcos
version: 1.0.0
passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - "replace-with-your-ssh-public-key"
      groups: [ sudo ]
systemd:
    units:
        - name: assisted-service-certs.service
          enabled: true
          contents: |
            [Unit]
            After=network-online.target

            [Service]
            Type=forking
            Restart=no
            ExecStart=/bin/bash /etc/assisted-service/create_certs.sh

            [Install]
            WantedBy=multi-user.target
        - name: assisted-service-pod.service
          enabled: true
          contents: |
            [Unit]
            After=network-online.target
          
            [Service]
            Type=forking
            Restart=no
            ExecStart=podman pod create --name assisted-installer -p 5432,8000,8090,8080,8443
          
            [Install]
            WantedBy=multi-user.target
        - name: assisted-service-db.service
          enabled: true
          contents: |
            [Unit]
            After=assisted-service-pod.service
            
            [Service]
            Type=forking
            Restart=no
            ExecStartPre=podman pull --authfile /etc/assisted-service/auth.json rhel8/postgresql-12:latest
            ExecStart=podman run -dt --pod assisted-installer --env-file /etc/assisted-service/environment --name db rhel8/postgresql-12:latest
            TimeoutStartSec=300
          
            [Install]
            WantedBy=multi-user.target
        - name: assisted-service-installer.service
          enabled: true
          contents: |
            [Unit]
            After=assisted-service-db.service
          
            [Service]
            Type=forking
            Restart=no
            ExecStartPre=podman pull quay.io/ocpmetal/assisted-service:latest
            ExecStart=podman run -dt --pod assisted-installer --env-file /etc/assisted-service/environment --restart always --name installer quay.io/ocpmetal/assisted-service:latest
            TimeoutStartSec=300
          
            [Install]
            WantedBy=multi-user.target
        - name: assisted-service-ui.service
          enabled: true
          contents: |
            [Unit]
            After=assisted-service-installer.service
          
            [Service]
            Type=forking
            Restart=no
            ExecStartPre=podman pull quay.io/ocpmetal/ocp-metal-ui:latest
            ExecStart=podman run -dt --pod assisted-installer --env-file /etc/assisted-service/environment -v /etc/assisted-service/nginx-certs:/certs:z -v /etc/assisted-service/nginx.conf:/opt/bitnami/nginx/conf/server_blocks/nginx.conf:z --name ui quay.io/ocpmetal/ocp-metal-ui:latest
            TimeoutStartSec=300
          
            [Install]
            WantedBy=multi-user.target
storage:
    files:
        - path: /etc/assisted-service/environment
          mode: 0644
          contents:
            inline: |
                POSTGRESQL_DATABASE=installer
                POSTGRESQL_PASSWORD=admin
                POSTGRESQL_USER=admin
                DB_HOST=127.0.0.1
                DB_PORT=5432
                DB_USER=admin
                DB_PASS=admin
                DB_NAME=installer
                SERVICE_BASE_URL=http://assisted-api.local.openshift.io:8080
                DEPLOY_TARGET=onprem
        - path: /etc/assisted-service/nginx.conf
          mode: 0644
          contents:
            inline: |
                server {
                    listen 8443 ssl;
                    ssl_certificate /certs/nginx-selfsigned.crt;
                    ssl_certificate_key /certs/nginx-selfsigned.key;
                    server_name _;
                    root /app;
                    index index.html;
                    location /api {
                        proxy_pass http://localhost:8090;
                        proxy_http_version 1.1;
                        proxy_set_header Upgrade $http_upgrade;
                        proxy_set_header Connection 'upgrade';
                        proxy_set_header Host $host;
                        proxy_cache_bypass $http_upgrade;
                    }
                    location / {
                        try_files $uri /index.html;
                    }
                }
        - path: /etc/assisted-service/auth.json
          mode: 0644
          contents:
            inline: replace-with-your-urlencoded-pull-secret
        - path: /etc/assisted-service/create_certs.sh
          mode: 0644
          contents:
            inline: |
              #!/bin/bash
              mkdir -p /etc/assisted-service/nginx-certs
              openssl req -x509 -nodes -days 365 -subj "/C=CA/ST=QC/O=Assisted Installer/CN=assisted-api.local.openshift.io" -addext "subjectAltName=DNS:assisted-api.local.openshift.io" -newkey rsa:2048 -keyout /etc/assisted-service/nginx-certs/nginx-selfsigned.key -out /etc/assisted-service/nginx-certs/nginx-selfsigned.crt;
              chmod 644 /etc/assisted-service/nginx-certs/nginx-selfsigned.key
        
