kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: object-store
  namespace: REPLACE_NAMESPACE
  labels:
    app: object-store
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
