apiVersion: v1
kind: Secret
metadata:
  name: assisted-installer-s3
  namespace: REPLACE_NAMESPACE
  labels:
    app: scality
type: Opaque
stringData:
  aws_access_key_id: "accessKey1"
  aws_region: "us-east-1"
  aws_secret_access_key: "verySecretKey1"
  bucket: "test"
  endpoint: "http://cloudserver-front:8000"
  s3_data_path: /mnt/data
  s3_metadata_path: /mnt/data
